<div class="uk-grid" data-uk-grid-margin="">
    <div class="uk-width-1-1">
        {#    <iframe src="https://embed.windytv.com/?63.9945,-21.1614,11,wind,menu,marker,metric.wind.m/s" width="1140" height="500" frameborder="0"></iframe>#}

{#        <iframe width="100%" height="500" src="https://embed.windytv.com/embed2.html?lat=65.6199723lon=-17.8167129&zoom=15&level=surface&overlay=wind&menu=&message=&marker=true&forecast=12&calendar=now&location=coordinates&type=map&actualGrid=&metricWind=m%2Fs&metricTemp=%C2%B0C" frameborder="0"></iframe>#}
        <iframe width="100%" height="500" src="https://embed.windy.com/embed2.html?lat=65.619&lon=-17.816&zoom=9&level=surface&overlay=wind&menu=&message=&marker=&forecast=24&calendar=now&location=coordinates&type=map&actualGrid=&metricWind=m%2Fs&metricTemp=%C2%B0C" frameborder="0"></iframe>
    </div>


    <div style="margin-left: -30px; margin-right: -20px;">

    <script type="text/javascript" src="http://vedur.is/js/iframe.js"></script>
<script type="text/javascript"><!--
VI.ifrm.type = 'wst';
VI.ifrm.area = 5;
VI.ifrm.lang = '{{ LANGUAGE_CODE }}';
VI.ifrm.displayWeather();
//-->
</script>
    </div>

    <div style="margin-right: -80px; margin-left: -20px;">
        <script type="text/javascript" src="http://vedur.is/js/iframe.js"></script>
<script type="text/javascript"><!--
VI.ifrm.type = 'wel';
VI.ifrm.area = 5;
VI.ifrm.lang = '{{ LANGUAGE_CODE }}';;
VI.ifrm.displayWeather();
//-->
</script>
    </div>

    <div style="float:left;">
        <script src="http://www.yr.no/place/Iceland/Norðurland_Eystra/Illugastaðir/external_box_hour_by_hour.js"></script><noscript><a href="http://www.yr.no/place/Iceland/Suðurland/Alviðra/">yr.no: Forecast for Hveragerði</a></noscript>
    </div>
    <div style="float:right;">
        <script src="http://www.yr.no/place/Iceland/Norðurland_Eystra/Illugastaðir/external_box_small.js"></script><noscript><a href="http://www.yr.no/place/Iceland/Suðurland/Alviðra/">yr.no: Forecast for Hveragerði</a></noscript>
    </div>

{#    <a name="lkr-timelapse-player" data-id="1477298566" data-play="day" href="//lookr.com/1477298566" target="_blank">Kambar brekka</a><script async type="text/javascript" src="//api.lookr.com/embed/script/timelapse.js"></script>#}

</div>
