{% load i18n leaflet_tags olfus_extras static %}

 <style>
        #map {
            width: 100%;
            height: 100%;
            min-height: 400px;
        }

        #menu {
            position: absolute;
            background: rgba(255, 255, 255, 0.53);
            padding: 10px;
            z-index: 1200 !important;

        }

        #menu input {
            margin: 5px;
        }

        #menu label {
            font-weight: bold;
        }
    </style>

<div id="item-map" class="uk-modal" style="z-index: 1300;">
    <div id="map-modal"  class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>

        <div class="uk-modal-header" >
            <h2 style="float: left">
                {% trans "Staðsetning" %}
            </h2>
        </div>
        <hr class="uk-clearfix">

        <div id='map' >
            <div id='menu'>
                <form class="uk-form">

                    <fieldset data-uk-margin>
                        <label for='basic'>
                            <input id='basic' type='radio' name='rtoggle' value='mapbox://styles/ebergmundur/cio2unuiq000m0bnkl54fg5qb' checked="checked" >
                            {% trans 'Venjulegt' %}
                        </label>
                        <label for='satellite'>
                            <input id='satellite' type='radio' name='rtoggle' value='mapbox://styles/ebergmundur/cio2uzt1p002jc7m7tzmn1nsp' >
                            {% trans 'Loftmynd' %}
                        </label>
                    </fieldset>
                </form>
            </div>

        </div>

    </div>
</div>
