{% load i18n  %}


{% if formok == True %}

    <h2>
        {% trans "Takk" %}
    </h2>
    <p>
        {% trans "skilaboð móttekin." %}
    </p>

    <div class="uk-form-row">
        <button id="form-sumbit-btn"  class="uk-button  uk-button-success" onclick="$('#message_modal').hide();">{% trans "Loka" %}</button>
    </div>

{% else %}

    {% blocktrans %}
                    <p>
                        Hér má koma á framfæri athugasemdum eða hugmyndum varðandi rekstur og starfsemi Illugastaða.
                    </p>
                    <p>
                        Einnig væri gaman að fá stuttar frásagnir um dvöl á Illugastöðum eða annað sem heyrir til sögu Illugastaða.
                    </p>
                    <p>
                        Hægt er að setja allt að 5 myndir samtímis á upphleðsluflötinn en það er hægt að senda fleirei meyndir með skilaboðunum.<br>
                        Gott er að skýra innihalds þeirra, stað og geta þeirra sem á myndumun eru og höfunda í texta.
                    </p>
                {% endblocktrans %}


    {% csrf_token %}
    {% for field in messageform %}


        {% if field.auto_id != 'id_picture' %}

            <div class="uk-form-row">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
            {% if field.auto_id == 'id_rating'  %}
                <div id="star-rating" style="margin: 10px 0;" class=""></div>
            {% endif %}
            </div>
        {% endif %}


        {% if field.auto_id == 'id_picture' %}

            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <label class="uk-form-label" for="upload-select">{% trans "Myndefni" %}</label>
                        <ul id="message_images"></ul>
                    {#                        <div class="uk-form-controls">#}
                    {#                            <div class="uk-form-file">#}
                    {#                                <button class="uk-button">{% trans "Sækja skrá" %}</button>#}
                    {#                                <input type="file">#}
                    {#                            </div>#}
                    <div id="messageupload-drop" class="uk-placeholder uk-text-center">
                        {#                                {% trans "Viðhengi" %}#}
                        <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i>
                        <a class="uk-form-file"> {% trans "Veldu mynd(ir) eða dragðu hingað" %} <input id="id_picture" type="file"></a>.
                    </div>

                    <div id="messageprogressbar" class="uk-progress uk-hidden">
                        <div class="uk-progress-bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>

        {% endif %}


    {% endfor %}

        <input type="hidden" id="messageimageattachements" value="">

    <div class="uk-form-row">
        <button id="messageform-sumbit-btn"  class="uk-button uk-button-primary" type="submit">{% trans "Senda" %}</button>
        <button id="messageform-sumbit-btn"  class="uk-button uk-button-danger  uk-modal-close" type="cancel">{% trans "Hætta við" %}</button>
    </div>
{% endif %}


