{% load static compress i18n l10n  thumbnail olfus_extras recaptcha2 raven %}
{# olfus_extras #}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>Illugastaðir {% block title %}{% endblock title %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- You can use open graph tags to customize link previews.
     Learn more: https://developers.facebook.com/docs/sharing/webmasters -->

    {% get_header as head %}

    <meta property="og:url" content="http://olfusborgir.is/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Illugastaðir"/>
    <meta property="og:description" content="Vefur orlofsbyggðarinnar"/>
    <meta property="og:image"
          content="http://illugastadir.is/media/filer/filer_public/1a/72/1a727d60-46c4-4ea4-9031-50ba38af197f/12547473700.jpg"/>


    {#    {% compress css %}#}
    {% block csscompress %}
        <link rel="stylesheet" href="{% static 'uikit/css/uikit.css' %}"/>
        <link rel="stylesheet" href="{% static 'uikit/css/components/search.css' %}"/>
        <link rel="stylesheet" href="{% static 'uikit/css/components/autocomplete.css' %}"/>
        <link rel="stylesheet" href="{% static 'uikit/css/components/sticky.css' %}"/>
        <link rel="stylesheet" href="{% static 'uikit/css/components/accordion.css' %}"/>
        <link rel="stylesheet" href="{% static 'uikit/css/components/upload.css' %}"/>
        <link rel="stylesheet" href="{% static 'uikit/css/components/form-advanced.css' %}"/>
        <link rel="stylesheet" href="{% static 'uikit/css/components/form-file.css' %}"/>
        <link rel="stylesheet" href="{% static 'uikit/css/components/form-select.css' %}"/>
        <link rel="stylesheet" href="{% static 'uikit/css/components/upload.css' %}"/>
        <link rel="stylesheet" href="{% static 'uikit/css/components/progress.css' %}"/>
        <link rel="stylesheet" href="{% static 'flag-icon-css/css/flag-icon.css' %}"/>
        <link rel="stylesheet" href="{% static 'uikit/css/components/slidenav.css' %}"/>
        <link rel="stylesheet" href="{% static 'rateyo/min/jquery.rateyo.min.css' %}"/>
        {#            <link rel="stylesheet" href="{% static 'filer/css/admin_filer.css' %}" />#}
    {% endblock csscompress %}

    <style>
        .olfus-darkbluegreen {
            background-color: #0D2010;
        }

        .olfus-brown {
            background-color: #713921;
        }

        .olfus-green {
            background-color: #67A612;
        }

        .menulogo {
            height: 28px;
            width: auto;
        }

        .header {
        {#            margin-top: -30px;#}{#            height: 500px;#}

        {% with head.head_image.all|random as headimage %}
            background-image: url('{% thumbnail headimage.image_file 1920x520 crop %}');
        {% endwith %}

            background-size: cover;
        }

        .header-inner {
            /* limit width*/
            max-width: 50%;

            /* center */
            margin: 0 auto;

            /* space out parent */
            padding: 300px 10px 50px 10px;
        }

        /* typography */
        .header h1 {
            font-size: 60px;
        {#                letter-spacing: -2px;#} font-weight: 900;
            color: white;
            line-height: 98%;
        }

        .header h2 {
            font-weight: normal;
            font-size: 38px;
            color: rgba(255, 255, 255, 0.85);
        }

        nav {
            z-index: 1200 !important;
        }

        a {
            color: #213541;
        }

        i {
            display: inline-block;
            width: 24px;
            text-align: center;
        }

        .bold {
            font-weight: bolder;
        }

        .errorlist {
            list-style: none;
            padding: 5px;
            color: whitesmoke;
            background-color: darkred;
        }

        .alarm {
            border: 2px solid darkred;
            background-color: #e79f9c;
            padding: 5px;
        }

        .js-filer-dropzone {
            background-color: #63a2ff;
            border-radius: 15px;
        }

        .uk-placeholder {
            padding: 15px;
            background-color: #eeecea;
            border: 1px dotted #d0d0d0;
        }

        .webnote {
            color: #a6a6a6;
        }

        @media screen and (max-width: 480px) {

            /* realign headline on smaller devices */
            .header-inner {
                max-width: 90%;
                margin: 0 auto;
                padding: 100px 10px 10px 10px;
            }

            .header {

            {% with head.head_image.all|random as headimage %}
                background-image: url('{% thumbnail headimage.image_file 480x320 crop %}');
            {% endwith %}

            }
        }

        @media print {
            header, nav {
                display: none;
            }

            .uk-accordion-content {
                page-break-after: always;
            }

            #map,
            .mapboxgl-canvas,
            .mapboxgl-canvas-container
            canvas.mapboxgl-canvas {
                display: block;
            }
        }
    </style>
    {#    {% endcompress css %}#}

    {% compress js %}
        {% block jscompress %}
        {% endblock jscompress %}
    {% endcompress js %}

    <script src="{% static 'jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'uikit/js/uikit.js' %}"></script>
    <script src="{% static 'uikit/js/core/nav.min.js' %}"></script>
    <script src="{% static 'uikit/js/components/search.js' %}"></script>
    <script src="{% static 'uikit/js/components/autocomplete.js' %}"></script>
    <script src="{% static 'uikit/js/components/sticky.js' %}"></script>
    <script src="{% static 'uikit/js/components/parallax.js' %}"></script>
    <script src="{% static 'uikit/js/components/accordion.js' %}"></script>
    <script src="{% static 'uikit/js/components/lightbox.js' %}"></script>

    <script src="{% static 'uikit/js/components/form-select.min.js' %}"></script>
    <script src="{% static 'uikit/js/components/upload.js' %}"></script>
    <script src="{% static 'rateyo/min/jquery.rateyo.min.js' %}"></script>
    <script src="{% static 'html2canvas/build/html2canvas.js' %}"></script>
    {#            <script src="{% static 'filer/js/base.js' %}"></script>#}
    <script src="https://cdn.ravenjs.com/3.13.1/raven.min.js"></script>


    {#    <script>Raven.config('{% sentry_public_dsn %}').install()</script>#}
    {% recaptcha_init %}


</head>
<body>

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1882366572047588',
            xfbml: true,
            version: 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


{% block pageheader %}

    <header
            class="header"

            data-uk-parallax="{bg:100}">

        {% with head|in_lang:LANGUAGE_CODE as head_trans %}
            <div class="header-inner" data-uk-parallax="{opacity: 0, viewport: 0.7, y: 100}">
            <h1>{{ head_trans.name }}</h1>
            <h2>{{ head_trans.description|striptags|safe }}</h2>
        {% endwith %}

        </div>
    </header>
{% endblock pageheader %}



<nav class="uk-navbar uk-navbar-attached" data-uk-sticky="top">

    <a class="uk-navbar-brand uk-hidden-medium uk-hidden-small" href="/">
        {#        <img src="{% static 'olfus/graphic/ob-logo-64.png' %}" class="menulogo">#}
        Illugastaðir
    </a>

    <ul class="uk-navbar-nav  uk-hidden-medium uk-hidden-small">
        {#        <li {% if request.META.PATH_INFO|slice:"3:" == "/" %}class="uk-active"{% endif %}>#}
        {#            <a href="/{{ LANGUAGE_CODE }}/">{% trans "Forsíða" %}</a>#}
        {#        </li>#}
        {#        <li {% if request.META.PATH_INFO|slice:"3:" == "/adofinni/" %}class="uk-active"{% endif %}>#}
        {#            <a href="/{{ LANGUAGE_CODE }}/adofinni/">{% trans "Á döfinni" %}</a>#}
        {#        </li>#}
        <li {% if request.META.PATH_INFO == "/vedur/" %}class="uk-active"{% endif %}>
            <a href="/vedur/">{% trans "Veður" %}</a>
        </li>
        <li {% if request.META.PATH_INFO == "/nagrenni/" %}class="uk-active"{% endif %}>
            <a href="/nagrenni/">{% trans "Kort" %}</a>
        </li>
        <li {% if request.META.PATH_INFO == "/thjonusta/" %}class="uk-active"{% endif %}>
            <a href="/thjonusta/">{% trans "Aðilar " %}</a>
        </li>
        <li {% if request.META.PATH_INFO == "/upplysingar/" %}class="uk-active"{% endif %}>
            <a href="/upplysingar/">{% trans "Upplýsingar" %}</a>
        </li>
        <li {% if request.META.PATH_INFO == "/saga/" %}class="uk-active"{% endif %}>
            <a href="/saga/">{% trans "Saga" %}</a>
        </li>
    </ul>

    <div class="uk-navbar-flip uk-navbar-content uk-hidden-medium uk-hidden-small">


    </div>

    <a href="#offcanvas" class="uk-navbar-toggle uk-hidden-large" data-uk-offcanvas=""></a>
    <div class="uk-navbar-brand uk-navbar-center uk-hidden-large">
        {#        <img src="{% static 'olfus/graphic/ob-logo-64.png' %}" class="menulogo">#}
        Illugastaðir
    </div>
    </div>


</nav>

{% block announcementblock %}
    {% get_announcement_list LANGUAGE_CODE as announcements %}
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

        {% for announcement_base in announcements %}
            {% with announcement_base|in_lang:LANGUAGE_CODE as announcement %}

                <div class="uk-grid" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-1 uk-row-first">

                        <div class="uk-vertical-align uk-text-center" style="height: 250px; background-color: #eef9df ">
                            <div class="uk-vertical-align-middle uk-width-1-2">
                                <div class="uk-alert uk-alert-{{ announcement_base.alert_type }}" data-uk-alert>
                                    <a href="" class="uk-alert-close uk-close"></a>
                                    <h1 class="zzuk-heading-large">{{ announcement.name }}</h1>
                                    {{ announcement.description|safe }}
                                    <p class="zzuk-align-right">
                                        <a class="uk-button" href="#">{% trans 'Nánar' %}</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {% endwith %}
        {% endfor %}

    </div>

{% endblock announcementblock %}

{% block maincontent %}


    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

        <div class="uk-block uk-text-large">


            <p>
                <img src="http://illugastadir.is/media/filer/filer_public/04/fa/04fa755d-ae7e-4f3e-8947-461a22852174/fyrsti_afangi.jpg"
                     style="float: right; height: 320px; width: auto; margin: 10px;"> Orlofshúsabyggðin á Illugastöðum í
                Fnjóskadal er fyrir löngu vel kunn flestum landsmönnum, svo margir hafa dvalið þar eða litið við hjá
                vinum
                og kunningjum sem þar hafa dvalið. Illugastaðir eru sívinsæll orlofsstaður.</p>

            <p>Húsin á Illugastöðum hafa öll verið endurnýjuð og lagfærð á undanförnum árum og eru nú hin glæsilegustu
                að
                innan sem utan. Hitaveita er á svæðinu og er heitur pottur við öll hús. Illugastaðir eru ákaflega
                vinsæll orlofsdvalarstaður og þangað sækir fólk af öllu landin. Fnjóskadalur státar af náttúrufegurð og
                er dalurinn sannkölluð perla
                fyrir náttúruunnendur, sérstaklega þá sem hafa áhuga á gönguferðum, jafnt að sumri sem vetri. Í flestum
                orlofshúsunum á Illugastöðum er svefnpláss fyrir átta manns í hverju húsi ásamt sængum fyrir
                jafnmarga.</p>

            <p>Húsin eru flest um 45 fermetrar að stærð og eru vel búin, meðal annars er í húsunum sturta, ísskápur,
                eldavél, örbylgjuofn, borðbúnaður, gasgrill, útvarp sjónvarp og nettenging.</p>

            <p>Eitt af húsunum er sérstaklega útbúið með gott aðgengi fyrir fatlaða einstaklinga, hús nr. 26. Þeir sem
                þurfa á því að halda þurfa að hafa samband við Einingu-Iðju.</p>

            <p>Á Illugastöðum er sundlaug sem er opin yfir sumartímann.</p>

            <p>Leikvöllur er á svæðinu með skemmtilegum leiktækjum fyrir börnin, m.a. ærslabelg. Stutt er yfir í
                Vaglaskóg
                þar sem miklir möguleikar eru til gönguferða.</p>


        </div>


        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-1-3  uk-panel uk-panel-box uk-row-first">
                <div class="uk-grid">
                    <div class="uk-width-1-6">
                        <i class="uk-icon-cloud uk-icon-large uk-text-primary"></i>
                    </div>
                    <div class="uk-width-5-6">
                        <h2 class="uk-h3">{% trans "Veðurspá" %}</h2>
                        <p>Veðurspár frá Veðurstofu Íslans, YR, norskur veðurstofunni og Windy sem sýna spá fyrir
                            svæðið.</p>
                        <a class="uk-button uk-button-primary" href="/vedur/">Nánar</a>
                    </div>
                </div>
            </div>

            <div class="uk-width-medium-1-3 uk-panel uk-panel-box">
                <div class="uk-grid">
                    <div class="uk-width-1-6">
                        <i class="uk-icon-check uk-icon-large uk-text-primary"></i>
                    </div>
                    <div class="uk-width-5-6">
                        <h2 class="uk-h3">{% trans "Upplýsingar" %}</h2>
                        <p>Hvernig bera gestir sig að við komu, dvöl og brottför.</p>
                        <a class="uk-button uk-button-primary" href="/upplysingar/">Nánar</a>
                    </div>
                </div>
            </div>

            <div class="uk-width-medium-1-3 uk-panel uk-panel-box">
                <div class="uk-grid">
                    <div class="uk-width-1-6">
                        <i class="uk-icon-compass uk-icon-large uk-text-primary"></i>
                    </div>
                    <div class="uk-width-5-6">
                        <h2 class="uk-h3">{% trans "Nágrenni" %}</h2>
                        <p>Kort sem sýnir húsin og eigendur þeirra, sögustaði, áhugaverða staði og þjónustu á
                            svæðinu.</p>
                        <a class="uk-button uk-button-primary" href="/nagrenni/">Nánar</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock maincontent %}

{% block footer %}
    <div class="zzuk-container zzuk-container-center uk-margin-top zzuk-margin-large-bottom"
         data-uk-sticky="{bottom:20, boundary: true}">
        {#        <hr class="uk-grid-divider">#}

        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-1-1 uk-row-first">
                <div class="uk-panel uk-panel-box uk-text-center">

                    <div class="" data-uk-modal="{target:'#webdesing_modal'}"
                         style="position: fixed; left: 45px; bottom: 3px;">
                        <i class="uk-icon-gears webnote"></i>

                        {#                                    {% trans "Vefsmíði" %}#}
                    </div>

                    Illugastaðir í Fnjóskadal s: 462 6199


                    {#                    <div#}
                    {#                            class="fb-like"#}
                    {#                            data-share="true"#}
                    {#                            data-width="450"#}
                    {#                            data-show-faces="false">#}
                    {#                    </div>#}


                </div>
            </div>
        </div>



        {% if messageform %}
            <script>
                {#                $('#message_modal').show();#}
            </script>
        {% else %}
            {% get_message_form as messageform %}
        {% endif %}

        {% if webtechform %}
            <script>
                {#                $('#webdesing_modal').show();#}
            </script>
        {% else %}
            {% get_webtech_form as webtechform %}
        {% endif %}



        <div id="message_modal" class="uk-modal">
            <div class="uk-modal-dialog">
                <a class="uk-modal-close uk-close"></a>
                <div id="message-sent" class="uk-modal-header"><h2>{% trans "Skilaboð" %}</h2></div>

                <form id="message_form" method="post" action="/message/"
                      enctype="multipart/form-data" class="uk-form uk-form-stacked">

                    {% include "includes/messageform.html" %}
                </form>


            </div>

            {#                <div class="uk-modal-footer">...</div>#}
        </div>
    </div>


    <div id="webdesing_modal" class="uk-modal">
        <div class="uk-modal-dialog  zzuk-modal-dialog-large">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header"><h2>{% trans "Vefurinn" %}</h2></div>
            {#                <div class="uk-modal-footer">...</div>#}
            <div class="uk-modal-content">
                <p>
                    {% trans "Vefurinn er unninn af Einari Bergmundi." %}
                </p>
                <p>
                    {% trans "Umsjón og tæknilegur reksur vefsins er í hans umsjón." %}
                </p>
                <p>
                    {% trans "Hér er hægt að senda athugasemdir, hugmyndir eða tilkynningar um eitthvað sem gæti verið í ólagi." %}
                </p>
                <p>
                    {% trans "Vinsamlega látið netfang fylgja svo hægt sé að hafa samband sé þess þörf." %}
                </p>
                <p>
                    {% trans "Athugasemdir eða hugmyndir varðandi starfsemi Illugastaða er hægt að koma á framfæri með því að smella á talblöðrurnar neðst til hægri á vefsíðunni." %}
                </p>

                <form class=uk-form" id="web-tech-form" method="POST" action="/techform/"
                      enctype="multipart/form-data">
                    {% csrf_token %}


                    {% for field in webtechform %}



                        <div class="uk-form-row">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>



                    {% endfor %}


                    <div class="uk-form-row">
                        <input id="id_wt_screenshot" type="hidden">
                        <button type="submit" class="uk-button uk-button-success">{% trans "Senda" %}</button>
                        <button type="cancel"
                                class="uk-button uk-button-danger uk-modal-close zzuk-close">{% trans "Hætta við" %}</button>
                    </div>

                </form>


                {#                <button class="uk-button uk-button-larga uk-button-primary" onclick="screenshot()">#}
                {#                    <i class="uk-icon-camera-retro"></i> {% trans "Skjáskot" %}#}
                {#                </button>#}

            </div>
        </div>
    </div>



    <button style="position: fixed; right: 20px; bottom: 4px;" class="uk-button uk-button-large uk-button-link"
            data-uk-modal="{target:'#message_modal'}">
        <i class="uk-icon-comments uk-icon-large uk-text-primary"></i>
        {#            {% trans "Skilaboð" %}#}
    </button>





    </div>
{% endblock footer %}

<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">

        <div class="zzuk-navbar-content  uk-nav-offcanvas">
            <form class="uk-search" data-uk-search="{source:'{% static "olfus/supports/autocomplete.json" %}'}">
                <input class="uk-search-field" type="search" placeholder="Leita">
            </form>
        </div>

        <ul class="uk-nav uk-nav-offcanvas">
            <li {% if request.META.PATH_INFO == "/" %}class="uk-active"{% endif %}>
                <a href="/">{% trans "Forsíða" %}</a>
            </li>
            {#        <li {% if request.META.PATH_INFO|slice:"3:" == "/adofinni/" %}class="uk-active"{% endif %}>#}
            {#            <a href="/{{ LANGUAGE_CODE }}/adofinni/">{% trans "Á döfinni" %}</a>#}
            {#        </li>#}
            <li {% if request.META.PATH_INFO == "/vedur/" %}class="uk-active"{% endif %}>
                <a href="/vedur/">{% trans "Veður" %}</a>
            </li>
            <li {% if request.META.PATH_INFO == "/nagrenni/" %}class="uk-active"{% endif %}>
                <a href="/nagrenni/">{% trans "Kort" %}</a>
            </li>
            <li {% if request.META.PATH_INFO == "/thjonusta/" %}class="uk-active"{% endif %}>
                <a href="/thjonusta/">{% trans "Aðilar" %}</a>
            </li>
            <li {% if request.META.PATH_INFO == "/upplysingar/" %}class="uk-active"{% endif %}>
                <a href="//upplysingar/">{% trans "Upplýsingar" %}</a>
            </li>
            <li {% if request.META.PATH_INFO == "/saga/" %}class="uk-active"{% endif %}>
                <a href="/saga/">{% trans "Saga" %}</a>
            </li>
        </ul>

    </div>
</div>

<script src="{% static 'uikit/js/components/notify.js' %}"></script>
<script>

    function windowsizes() {
        {% block windowsizes %}
            var vdf = $('#videoframe');
            var vdfh = vdf.parent('div').width();
            vdf.attr('width', vdfh - 2);
            vdf.attr('height', vdfh * 0.56);
        {% endblock windowsizes %}
    }

    $(window).on('resize orientationChange', function (event) {
        windowsizes();
    });


    $(document).on('ready', function () {
        windowsizes();
        $('.uk-form-row input, textarea').addClass('uk-width-1-1');

        $("#star-rating").rateYo({
            rating: 5.0,
            onSet: function (rating, rateYoInstance) {

                {#                alert("Rating is set to: " + rating);#}
                $('#id_rating').val(rating);
            }
        });

        $('#id_messageimageattachements').siblings('label').hide();

        $('#message_form').submit(function () { // catch the form's submit event


            $('.alarm').removeClass('alarm');

            var cpt = $('form#message_form').find('#g-recaptcha-response').val();
            var title = $('form#message_form').find('#id_title').val();
            var message = $('form#message_form').find('#id_message').val();
            var sender_name = $('form#message_form').find('#id_sender_name').val();
            var sender_email = $('form#message_form').find('#id_sender_email').val();


            var robotext = '{% trans "Þú verður að staðfesta mennsku og smella á Captcha kassann" %}';
            var messagetext = '{% trans "Það eru engin skilaboð" %}';
            var titletext = '{% trans "Varðar þetta ekkert?" %}';
            var emailtext = '{% trans " er ekki gilt netfang" %}';

            if (title == "") {
                $('form#message_form').find('#id_title').parent().addClass('alarm');
                alert(titletext);
                return
            }

            if (message == "") {
                $('form#message_form').find('#id_message').parent().addClass('alarm');
                alert(messagetext);
                return
            }

            if (sender_email > "") {

                if (isEmail(sender_email) == false) {
                    $('form#message_form').find('#id_sender_email').parent().addClass('alarm');
                    alert(sender_email + emailtext);
                    return
                }
            }

            if (cpt == "") {
                $('form#message_form').find('#id_captcha').parent().addClass('alarm');
                alert(robotext);
                return
            }


            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function (data) {
                    {#                    alert('takk');#}

                    {#                    console.log(data);#}

                    $("#message_form").html(data);
                    $('.uk-form-row input, textarea').addClass('uk-width-1-1');

                },
                error: function (data) {
                    {#                    alert('bömmer');#}
                    $("#message_form").html(data);
                    $('.uk-form-row input, textarea').addClass('uk-width-1-1');
                }
            });
            return false;
        });

        $('#web-tech-form').submit(function () { // catch the form's submit event


            $('.alarm').removeClass('alarm');


            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function (data) {
                    {#                    alert('takk');#}

                    {#                    console.log(data);#}

                    $("#web-tech-form").html(data);
                    $('.uk-form-row input, textarea').addClass('uk-width-1-1');

                },
                error: function (data) {
                    {#                    alert('bömmer');#}
                    $("#web-tech-form").html(data);
                    $('.uk-form-row input, textarea').addClass('uk-width-1-1');
                }
            });
            return false;
        });


    });

    $('#webdesing_modal').on({

        'show.uk.modal': function () {
            screenshot();

            // initiate upload
            {#            var progressbar = $("#progressbar"),#}
            {#                bar         = progressbar.find('.uk-progress-bar'),#}
            {#                settings    = {#}
            {##}
            {#            action: '/', // upload url#}
            {#                    single: false,#}
            {##}
            {#                    allow : '*.(jpg|jpeg|gif|png|pdf|txt|text)', // allow only images#}
            {##}
            {#                    loadstart: function() {#}
            {#                        bar.css("width", "0%").text("0%");#}
            {#                        progressbar.removeClass("uk-hidden");#}
            {#                    },#}
            {##}
            {#                    progress: function(percent) {#}
            {#                        percent = Math.ceil(percent);#}
            {#                        bar.css("width", percent+"%").text(percent+"%");#}
            {#                    },#}
            {##}
            {#                    allcomplete: function(response) {#}
            {##}
            {#                        bar.css("width", "100%").text("100%");#}
            {##}
            {#                        setTimeout(function(){#}
            {#                            progressbar.addClass("uk-hidden");#}
            {#                        }, 250);#}
            {##}
            {#                        alert("{% trans "Viðhengi komið" %}")#}
            {#                    }#}
            {#                };#}
            {##}
            {#            var select = UIkit.uploadSelect($("#upload-select"), settings),#}
            {#                drop   = UIkit.uploadDrop($("#upload-drop"), settings);#}


            {#            console.log("Modal is visible.");#}
        },

        'hide.uk.modal': function () {
            {#            console.log("Element is not visible.");#}
        }
    });


    $('#message_modal').on({

        'show.uk.modal': function () {
            {#            screenshot();#}

            // initiate upload
            var progressbar = $("#messageprogressbar"),
                bar = progressbar.find('.uk-progress-bar'),
                settings = {

                    action: '/{{ LANGUAGE_CODE }}/message_image/', // upload url
                    single: false,
                    type: 'json',
                    filelimit: 5,

                    allow: '*.(jpg|jpeg|gif|png)', // allow only images

                    loadstart: function () {
                        bar.css("width", "0%").text("0%");
                        progressbar.removeClass("uk-hidden");
                    },

                    progress: function (percent) {
                        percent = Math.ceil(percent);
                        bar.css("width", percent + "%").text(percent + "%");
                    },

                    allcomplete: function (response) {

                        bar.css("width", "100%").text("100%");

                        setTimeout(function () {
                            progressbar.addClass("uk-hidden");
                        }, 250);

                        {#                        console.log(response);#}

                        $.each(response.images, function (i, imgdata) {

                            {#                        console.log(imgdata);#}

                            $('#message_images').append('<li>' + imgdata.name + '</li>');
                            $('#id_messageimageattachements').val($('#id_messageimageattachements').val() + imgdata.id + ',');

                        });

                        {#                        alert("{% trans "Viðhengi komið" %}")#}
                    }
                };

            var select = UIkit.uploadSelect($("#id_image"), settings),
                drop = UIkit.uploadDrop($("#messageupload-drop"), settings);


            {#            console.log("Modal is visible.");#}
        },

        'hide.uk.modal': function () {
            {#            console.log("Element is not visible."); #}
        }
    });


    $('#messageform-sumbit-btn').on('click', function () {


    });


    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

    function screenshot() {
        html2canvas(document.body, {
            {#            proxy: 'http://93.95.227.160:8888',#}
            onrendered: function (canvas) {
                {#                document.body.appendChild(canvas);#}
                $('input#id_wt_screenshot').val(canvas);
                {#                console.log(canvas);#}
                {#                <!--$('label#label_screenshot').text('{% trans "Sjáskot komið" %}');-->#}
            }
        });

    }

</script>

{# script src="https://getuikit.com/migrate.min.js"></script>#}

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-94008334-1', 'auto');
    ga('send', 'pageview');

</script>


<script type="text/javascript">
    window.NREUM || (NREUM = {}), __nr_require = function (e, t, n) {
        function r(n) {
            if (!t[n]) {
                var o = t[n] = {exports: {}};
                e[n][0].call(o.exports, function (t) {
                    var o = e[n][1][t];
                    return r(o || t)
                }, o, o.exports)
            }
            return t[n].exports
        }

        if ("function" == typeof __nr_require) return __nr_require;
        for (var o = 0; o < n.length; o++) r(n[o]);
        return r
    }({
        1: [function (e, t, n) {
            function r() {
            }

            function o(e, t, n) {
                return function () {
                    return i(e, [(new Date).getTime()].concat(u(arguments)), t ? null : this, n), t ? void 0 : this
                }
            }

            var i = e("handle"), a = e(2), u = e(3), c = e("ee").get("tracer"), f = NREUM;
            "undefined" == typeof window.newrelic && (newrelic = f);
            var s = ["setPageViewName", "setCustomAttribute", "setErrorHandler", "finished", "addToTrace", "inlineHit"],
                l = "api-", p = l + "ixn-";
            a(s, function (e, t) {
                f[t] = o(l + t, !0, "api")
            }), f.addPageAction = o(l + "addPageAction", !0), f.setCurrentRouteName = o(l + "routeName", !0), t.exports = newrelic, f.interaction = function () {
                return (new r).get()
            };
            var d = r.prototype = {
                createTracer: function (e, t) {
                    var n = {}, r = this, o = "function" == typeof t;
                    return i(p + "tracer", [Date.now(), e, n], r), function () {
                        if (c.emit((o ? "" : "no-") + "fn-start", [Date.now(), r, o], n), o) try {
                            return t.apply(this, arguments)
                        } finally {
                            c.emit("fn-end", [Date.now()], n)
                        }
                    }
                }
            };
            a("setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","), function (e, t) {
                d[t] = o(p + t)
            }), newrelic.noticeError = function (e) {
                "string" == typeof e && (e = new Error(e)), i("err", [e, (new Date).getTime()])
            }
        }, {}], 2: [function (e, t, n) {
            function r(e, t) {
                var n = [], r = "", i = 0;
                for (r in e) o.call(e, r) && (n[i] = t(r, e[r]), i += 1);
                return n
            }

            var o = Object.prototype.hasOwnProperty;
            t.exports = r
        }, {}], 3: [function (e, t, n) {
            function r(e, t, n) {
                t || (t = 0), "undefined" == typeof n && (n = e ? e.length : 0);
                for (var r = -1, o = n - t || 0, i = Array(o < 0 ? 0 : o); ++r < o;) i[r] = e[t + r];
                return i
            }

            t.exports = r
        }, {}], ee: [function (e, t, n) {
            function r() {
            }

            function o(e) {
                function t(e) {
                    return e && e instanceof r ? e : e ? c(e, u, i) : i()
                }

                function n(n, r, o) {
                    if (!p.aborted) {
                        e && e(n, r, o);
                        for (var i = t(o), a = v(n), u = a.length, c = 0; c < u; c++) a[c].apply(i, r);
                        var f = s[w[n]];
                        return f && f.push([y, n, r, i]), i
                    }
                }

                function d(e, t) {
                    b[e] = v(e).concat(t)
                }

                function v(e) {
                    return b[e] || []
                }

                function g(e) {
                    return l[e] = l[e] || o(n)
                }

                function m(e, t) {
                    f(e, function (e, n) {
                        t = t || "feature", w[n] = t, t in s || (s[t] = [])
                    })
                }

                var b = {}, w = {},
                    y = {on: d, emit: n, get: g, listeners: v, context: t, buffer: m, abort: a, aborted: !1};
                return y
            }

            function i() {
                return new r
            }

            function a() {
                (s.api || s.feature) && (p.aborted = !0, s = p.backlog = {})
            }

            var u = "nr@context", c = e("gos"), f = e(2), s = {}, l = {}, p = t.exports = o();
            p.backlog = s
        }, {}], gos: [function (e, t, n) {
            function r(e, t, n) {
                if (o.call(e, t)) return e[t];
                var r = n();
                if (Object.defineProperty && Object.keys) try {
                    return Object.defineProperty(e, t, {value: r, writable: !0, enumerable: !1}), r
                } catch (i) {
                }
                return e[t] = r, r
            }

            var o = Object.prototype.hasOwnProperty;
            t.exports = r
        }, {}], handle: [function (e, t, n) {
            function r(e, t, n, r) {
                o.buffer([e], r), o.emit(e, t, n)
            }

            var o = e("ee").get("handle");
            t.exports = r, r.ee = o
        }, {}], id: [function (e, t, n) {
            function r(e) {
                var t = typeof e;
                return !e || "object" !== t && "function" !== t ? -1 : e === window ? 0 : a(e, i, function () {
                    return o++
                })
            }

            var o = 1, i = "nr@id", a = e("gos");
            t.exports = r
        }, {}], loader: [function (e, t, n) {
            function r() {
                if (!h++) {
                    var e = y.info = NREUM.info, t = l.getElementsByTagName("script")[0];
                    if (setTimeout(f.abort, 3e4), !(e && e.licenseKey && e.applicationID && t)) return f.abort();
                    c(b, function (t, n) {
                        e[t] || (e[t] = n)
                    }), u("mark", ["onload", a()], null, "api");
                    var n = l.createElement("script");
                    n.src = "https://" + e.agent, t.parentNode.insertBefore(n, t)
                }
            }

            function o() {
                "complete" === l.readyState && i()
            }

            function i() {
                u("mark", ["domContent", a()], null, "api")
            }

            function a() {
                return (new Date).getTime()
            }

            var u = e("handle"), c = e(2), f = e("ee"), s = window, l = s.document, p = "addEventListener",
                d = "attachEvent", v = s.XMLHttpRequest, g = v && v.prototype;
            NREUM.o = {
                ST: setTimeout,
                CT: clearTimeout,
                XHR: v,
                REQ: s.Request,
                EV: s.Event,
                PR: s.Promise,
                MO: s.MutationObserver
            }, e(1);
            var m = "" + location, b = {
                    beacon: "bam.nr-data.net",
                    errorBeacon: "bam.nr-data.net",
                    agent: "js-agent.newrelic.com/nr-998.min.js"
                }, w = v && g && g[p] && !/CriOS/.test(navigator.userAgent),
                y = t.exports = {offset: a(), origin: m, features: {}, xhrWrappable: w};
            l[p] ? (l[p]("DOMContentLoaded", i, !1), s[p]("load", r, !1)) : (l[d]("onreadystatechange", o), s[d]("onload", r)), u("mark", ["firstbyte", a()], null, "api");
            var h = 0
        }, {}]
    }, {}, ["loader"]);
    ;NREUM.info = {
        beacon: "bam.nr-data.net",
        errorBeacon: "bam.nr-data.net",
        licenseKey: "a66a1abce9",
        applicationID: "36302482",
        sa: 1
    }
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125366810-1"></script>
<script type="text/javascript">
    var gtagId = 'UA-125366810-1';
    window['ga-disable-' + gtagId] = true;
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
</script>
<script src="https://cookie.consent.is/cc/6fa12104.js"></script>
<script type="text/javascript">
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            onInitialise: function (status) {
                if (this.hasConsented('required')) {
                }
                if (this.hasConsented('analytics')) {
                    window['ga-disable-UA-125366810-1'] = false;
                    gtag('config', gtagId);
                }
            },
            onAllow: function (category) {
                if (category == 'required') {
                }
                if (category == 'analytics') {
                    window['ga-disable-UA-125366810-1'] = false;
                    gtag('config', gtagId);
                }
            },
            onRevoke: function (category) {
                if (category == 'required') {
                }
                if (category == 'analytics') {
                    window['ga-disable-UA-125366810-1'] = true;
                }
            }
        })
    });
</script>


</body>
</html>
