{% extends 'base.html' %}
{% load static i18n l10n %}


{% block announcementblock %}
{{ block.super }}
{% endblock announcementblock %}

{% block maincontent %}
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

        <h1 class="uk-margin-large-bottom">Á döfinni</h1>

        <hr class="uk-grid-divider">
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-1-2 uk-row-first">
                <h1>Heading</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <h2>Subheading</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a class="uk-button uk-button-primary" href="#">Nánar</a>
            </div>

            <div class="uk-width-medium-1-2">
                <img width="660" height="400" src="{% static "olfus/images/cde048f6-79ca-5000-ca84-0d57a886ce7f.jpg" %}" alt="">
            </div>
        </div>

        <hr class="uk-grid-divider">

        <div class="uk-grid" data-uk-grid-margin="">
                <div class="uk-width-medium-1-2">
                    <img width="660" height="400" src="{% static "olfus/images/b5857938-9ad5-42c5-c61b-f6720becd255.jpg" %}" alt="">
                </div>
            <div class="uk-width-medium-1-2 uk-row-first">
                <h1>Heading</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <h2>Subheading</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <a class="uk-button uk-button-primary" href="#">Nánar</a>
            </div>


        </div>

        <hr class="uk-grid-divider">


    </div>

{% endblock maincontent %}


{% block footer %}
    {{ block.super }}
{% endblock footer %}
