{% extends 'base.html' %}
{% load i18n l10n olfus_extras %}

{% block maincontent %}
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">


    {% for category in categories %}
        {% with category|in_lang:LANGUAGE_CODE as cat_trans %}
        <h2>
            {{ cat_trans.name }}
        </h2>
            <div class="uk-accordion" data-uk-accordion="{collapse: false, showfirst: false}">

                {% for info in category.help_set.all %}
                    {% with info|in_lang:LANGUAGE_CODE as info_trans %}
                        <h3 class="uk-accordion-title">
                        {% if info_trans.description|length > 1 %}
                            <strong>+</strong>
                        {% else %}
                            <strong>-</strong>
                        {% endif %}
                            {{ info_trans.name|default_if_none:info }}
                        </h3>
                        <div class="uk-accordion-content">
                        {{ info_trans.description|safe }}
                        {{ info_trans.details|safe }}
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>

        {% endwith %}
    {% endfor %}

    {% comment  %}
        <h3>Nauðsynlegt að kynna sér eftirfarandi við komu:</h3>

        <ol>
            <li>Lyklaafhending á föstudegi milli 15:00-20:30.</li>
            <li>Aðra virka daga er lyklaafhending milli 12:00-16:00</li>
            <li>Tæma bílinn og færa á bílastæði sem eru alltaf ólæst.</li>
            <li>Orlofssvæði læst nema á föstudegi ( almenni skiptidagur) .</li>
            <li>Heiti potturinn er tilbúinn við komu, setjið lokið í öryggiskeðju meðan potturinn er í notkun.</li>
            <li>Lokið pottinum eftir notkun.</li>
            <li>Tunnur fyrir einnota drykkjarílát eru á svæðinu - ekki rusl í þær tunnur</li>
            <li>Ekki geyma rusl utandyra,</li>
            <li>Hundar og kettir ekki leyfðir á orlofssvæðinu</li>
            <li>Ef veikindi eða slys ber að þarf að hringja í Neyðarnúmerið 112</li>
            <li>Þar sem húsin standa þétt saman er fólk beðið um að taka tillit til nágranna varðandi hávaða.</li>
            <li>Öll hús reyklaus, notið stubbahúsin, verndum umhverfið og náttúruna.</li>
            <li>Ekki eru leyft að tjalda eða vera með húsvagna/bíla á svæðinu.</li>
        </ol>
        <h3>Fyrir   brottför: skila þarf  húsi  kl 12:00 á brottfarardegi</h3>

        <ol>
            <li>Má keyra að húsi til að tæma.</li>
            <li>Þrífa hús og heita pottinn eftir dvöl.</li>
            <li>Fara með allt rusl í gám sem staðsettur er á bílastæði Afgreiðslu.</li>
            <li>Ekki geyma rusl utandyra, villikettir, mávar og hrafnar dreifa því um allt</li>
            <li>Skila lykli í
                <a href="#lyklabox" data-uk-modal="{target:'#lyklabox'}">lyklabox</a> eða
                í
                <a href="#postkassi" data-uk-modal="{target:'#postkassi'}">rauðan póstkassa</a>
                í Afgreiðslu, eftir því sem við á.
            </li>
            <li>Skila tuskum í tunnu við Afgreiðslu.</li>
            <li>Ef lín hefur verið leigt skal skila því í tunnu við Afgreiðslu.</li>
            <li>Skila þarf húsi eins og þú vilt koma að því, í síðasta lagi kl 12:00 á brottfarardegi.</li>
            <li>Allt rusl í Ruslagám</li>
            <li>Öll hús reyklaus</li>
            <li>Góða heimferð.</li>
        </ol>

        <p>Hús með góðu aðgengi  fyrir hjólastól er í  eigu Sameignarfélagsins og er útleigt af starsmönnum, mjög rúmgott, tvö svefnhenbergi, stofa og eldhús í einu rými, baðherbergi með sturtu, er útleigt allt árið yfir helgi á veturnar  og viku á sumrin, upplýsingar í síma 483-4260 milli 12:00-16.00 virka daga. Eingöngu leigt til félagsmanna stéttarfélaga sem eiga hús á orlofssvæðinu.</p>

    </div>

    <div id="lyklabox" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h2>Lyklabox</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    </div>

    <div id="postkassi" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
         <h2>Rauður póstkassi</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
     {% endcomment  %}
    </div>

{% endblock maincontent %}


{% block footer %}
    {{ block.super }}
{% endblock footer %}
