{% extends 'base.html' %}
{% load static i18n l10n %}


{% block announcementblock %}
{{ block.super }}
{% endblock announcementblock %}

{% block maincontent %}
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

        <h1 class="uk-margin-large-bottom">{% trans "Veður" %}</h1>

        {% include 'includes/all_weather.html' %}


    </div>

{% endblock maincontent %}


{% block footer %}
    {{ block.super }}
{% endblock footer %}
