/*.select2-selection__arrow, .select2-container {*/
  /*z-index: 100;*/
/*}*/

/*.django-select2 {*/
  /*z-index: 50;*/
  /*width: 380px;*/
/*}*/

/*#lookup_id_image_filerImageDialog {*/
  /*z-index: 100;*/
  /*border: solid gray 1px;*/
  /*width: 25px;*/
  /*height: 25px;*/
  /*margin: 10px 20px 0px 20px;*/
  /*!*background-image: url("/static/grappelli/images/icons-s846f870921.png");*!*/
  /*!*background-repeat: no-repeat;*!*/
/*}*/


#change_id_artwork_image
/*, #id_artwork_image_lookup*/
{
    display: block !important;
    z-index: 1200;
}

/*div.related-widget-wrapper {*/
    /*margin-left: 170px;*/
/*}*/

/*.filer-dropzone {*/
    /*height: 200px !important;*/
    /*padding: 10px !important;*/
    /*min-width: 400px !important;*/

/*}*/

/*!*.filebrowser .navigator-table*!*/
/*.column-icon img, .filerFile img {*/
    /*height: 180px !important;*/
    /*!*width: 180px !important;*!*/
    /*margin: 0  !important;*/
    /*!*margin: -10px 10px 10px -10px;*!*/
/*}*/


/*
.popimage {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 80%;
    height: 80%;
    !*z-index: 12000;*!
    margin: -10% 10% 10% -10%;
    !*padding: auto;*!
    display: none;
    background-color: white;
    background-clip: content-box;
    opacity: 0.9;
    text-align: center;
    !*background-blend-mode: lighten;*!
}

.popimage img {
    margin-top: 15%;
    opacity: 1.3 !important;
}
img.lazy {
        width: 700px;
        height: 467px;
        display: block;
    }

#result_list div.drag {
    width: 80px !important;
    cursor: move !important;
}
*/

div#id_history_location_div_map>div,
div.form-row.grp-row.grp-cells-1.history_location>div,
div.form-row.grp-row.grp-cells-1.history_location>div>div,
div#id_house_location_div_map>div,
div.form-row.grp-row.grp-cells-1.house_location>div,
div.form-row.grp-row.grp-cells-1.house_location>div>div,
div#id_location_div_map>div,
div.form-row.grp-row.grp-cells-1.location>div,
div.form-row.grp-row.grp-cells-1.location>div>div,
div#id_image_location_div_map>div,
div.form-row.grp-row.grp-cells-1.id_image_location>div,
div.form-row.grp-row.grp-cells-1.id_image_location>div>div,
div#id_area_div_map>div,
div.form-row.grp-row.grp-cells-1.id_area_location>div,
div.form-row.grp-row.grp-cells-1.id_area_location>div>div,
div#id_help_location_div_map>div,
div.form-row.grp-row.grp-cells-1.id_help_location_map>div,
div.form-row.grp-row.grp-cells-1.id_help_location_map>div>div,
div#id_path_div_map>div,
div.form-row.grp-row.grp-cells-1.id_path_map>div,
div.form-row.grp-row.grp-cells-1.id_path_map>div>div

{
    height: 600px;
}

