{% load i18n leaflet_tags olfus_extras static %}
    <div id="item-details" class="uk-modal" style="z-index: 1300;">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header "style="width: 100%; float: left;" ><h2 style="float: left"></h2>
                <img src="" id="entitytypeicon" style="height: 48px; width: 48px; float: right;">
            </div>
            <hr class="uk-clearfix">

            <img src="" id="logo" style="float: right"  class="">
            <div id="institutiondata">


            <i class="uk-icon-home" aria-hidden="true"></i> <span id="home"> </span><span id="postcode"></span>
            <br>
            <i class="uk-icon-phone" aria-hidden="true"></i>
            <a href=""><span id="phone"></span></a><br>
            <i class="uk-icon-envelope-o" aria-hidden="true"></i>
            <a href=""><span id="email"></span></a><br>
            <i class="uk-icon-external-link" aria-hidden="true"></i>
            <a href="" target="_blank"><span id="website">{% trans "Vefsíða" %} </span></a>
            </div>

            <div class="uk-margin-top uk-margin-bottom" id="modalbody">
                <ul id="tranlationtabs" class="uk-tab" data-uk-tab="{connect:'#tranlationtabsContent'}">
                    {#                <li class="uk-active"><a href="">aaaa</a></li>#}
                    {#                <li><a href="">bbbb</a></li>#}
                    {#                <li><a href="">cccc</a></li>#}
                    {#                <li class="uk-disabled"><a href="">.dddd..</a></li>#}
                </ul>

                <ul id="tranlationtabsContent" class="uk-switcher uk-margin">
                    {#                <li>...</li>#}
                </ul>

            </div>

            <div id="owners" class="uk-grid uk-grid-width-medium-1-1" data-uk-grid-margin>

            </div>
            <div id="item-gallery" class="uk-grid uk-grid-width-medium-1-4" data-uk-grid-margin></div>

            <div class="uk-modal-footer">

            </div>

        </div>
    </div>
