{% load humanize i18n l10n %}

<ul>
    {% for message in module.children %}
        <li>
            <span class="float-right">
                <span class="dim">
                    {{ message.created|naturalday }} <span class="icon-clock tooltip" title="{{ message.created }}"></span>
                </span>
            </span>

            {% if message.is_done %}
                <span class="icon-tick" style="color: #8ecb8e;"></span>
            {% else %}
                <span class="icon-cross" style="color: #dba4a4;"></span>
            {% endif %}

            <a href="/{{ LANGUAGE_CODE }}/admin/olfus/message/{{ message.id }}/change/">{{ message.title }}: {{ message.house }} - {{ message.message|truncatechars:50 }}</a>
        </li>
    {% empty %}
        <li>
            Nothing to show
        </li>
    {% endfor %}
</ul>
