{% extends 'base.html' %}
{% load static i18n l10n olfus_extras thumbnail %}



{% block jscompress %}
    {{ block.super }}
    <script src="{% static "vertical-timeline/js/modernizr.js" %}"></script> <!-- Modernizr -->
    <script src="{% static "uikit/js/core/modal.min.js" %}"></script>

{% endblock jscompress %}

{% block csscompress %}
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    {#    <link rel="stylesheet" href="{% static "vertical-timeline/css/reset.css" %}"> <!-- CSS reset -->#}
    <link rel="stylesheet" href="{% static "vertical-timeline/css/style.css" %}"> <!-- Resource style -->
    {{ block.super }}
    <style>
        .uk-thumbnail:hover {
            cursor: pointer;
        }

        div.uk-modal.uk-open {
            z-index: 1400 !important;
        }
        .history-photographer {
            margin: -24px 3px 0 0;
            text-align: right;
            color: #dceae5;
            text-shadow: 1px 1px 2px #233b4b;
        }


        .uk-modal-caption {
            white-space: normal;
            padding: 0 15px;
            text-shadow: 1px 1px 2px #213541;
        }


    </style>
{% endblock csscompress %}




{% block maincontent %}
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

        <h1>Saga Ölfusborga</h1>

        <section id="cd-timeline" class="cd-container">

            {% for event_base in events %}
                {% with event_base|in_lang:LANGUAGE_CODE as event %}


                    {#                    <div  id="modal{{ event.id }}" uk-modal>#}
                    {#    <div class="uk-modal-dialog uk-modal-body">#}
                    {#        <h2 class="uk-modal-title">{{ event.name }}</h2>#}
                    {##}
                    {#                                {{ event.description|safe }}#}
                    {#                <hr>#}
                    {#                    {{ event.details|safe }}#}
                    {##}
                    {#        <button class="uk-modal-close" type="button"></button>#}
                    {#    </div>#}
                    {#</div>#}


                    <div class="cd-timeline-block" if="evnt{{ event_base.id }}">
                        <div class="cd-timeline-img cd-picture" style="background-color: #587451;">
                            <img src="{% static "vertical-timeline/img/cd-icon-picture.svg" %}" alt="Picture">
                        </div> <!-- cd-timeline-img -->

                        <div class="cd-timeline-content">

                            <h2 class="uk-border-rounded" style="background-color: #587451; padding:  4px 15px; color: whitesmoke;">{{ event.name }}</h2>
                            <div id="event-{{ event_base.id }}" class="uk-thumbnail uk-align-{% cycle 'right' 'left' %}">
                                <img src="{% thumbnail event_base.main_image.image_file 0x150 %}" class="">

                                {% if event_base.main_image.photographer.id > 0 %}
                                    <div class="uk-thumbnail-caption history-photographer"><small>
                                        <i class="uk-icon-camera uk-text-primary"></i>
                                        {{ event_base.main_image.photographer.name_global }}
                                    </small>
                                    </div>
                                {% endif %}

                            </div>


                            {{ event.description|safe|truncatewords_html:40 }}
                            {#                <button class="uk-button uk-button-default" type="button" uk-toggle="target: #modal{{ event.id }}">Read more</button>#}
                            <span class="cd-date">
                            <h2 class="" style="font-weight: bolder; font-size: 1.6em;">{{ event_base.actual_date.year}}
                                {% if event_base.show_full_date %}
                                    <br><small>{{ event_base.actual_date}}</small>
                                {% endif %}
                            </h2>
                            </span>
                        </div> <!-- cd-timeline-content -->
                    </div> <!-- cd-timeline-block -->

                {% endwith %}
            {% endfor %}

            {#		<div class="cd-timeline-block">#}
            {#			<div class="cd-timeline-img cd-picture">#}
            {#				<img src="{% static "vertical-timeline/img/cd-icon-picture.svg" %}" alt="Picture">#}
            {#			</div> <!-- cd-timeline-img -->#}
            {##}
            {#			<div class="cd-timeline-content">#}
            {#				<h2>Title of section 1</h2>#}
            {#				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>#}
            {#				<a href="#0" class="cd-read-more">Read more</a>#}
            {#				<span class="cd-date">Jan 14</span>#}
            {#			</div> <!-- cd-timeline-content -->#}
            {#		</div> <!-- cd-timeline-block -->#}
            {##}
            {#		<div class="cd-timeline-block">#}
            {#			<div class="cd-timeline-img cd-movie">#}
            {#				<img src="{% static "vertical-timeline/img/cd-icon-movie.svg" %}" alt="Movie">#}
            {#			</div> <!-- cd-timeline-img -->#}
            {##}
            {#			<div class="cd-timeline-content">#}
            {#				<h2>Title of section 2</h2>#}
            {#				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>#}
            {#				<a href="#0" class="cd-read-more">Read more</a>#}
            {#				<span class="cd-date">Jan 18</span>#}
            {#			</div> <!-- cd-timeline-content -->#}
            {#		</div> <!-- cd-timeline-block -->#}
            {##}
            {#		<div class="cd-timeline-block">#}
            {#			<div class="cd-timeline-img cd-picture">#}
            {#				<img src="{% static "vertical-timeline/img/cd-icon-picture.svg" %}" alt="Picture">#}
            {#			</div> <!-- cd-timeline-img -->#}
            {##}
            {#			<div class="cd-timeline-content">#}
            {#				<h2>Title of section 3</h2>#}
            {#				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>#}
            {#				<a href="#0" class="cd-read-more">Read more</a>#}
            {#				<span class="cd-date">Jan 24</span>#}
            {#			</div> <!-- cd-timeline-content -->#}
            {#		</div> <!-- cd-timeline-block -->#}
            {##}
            {#		<div class="cd-timeline-block">#}
            {#			<div class="cd-timeline-img cd-location">#}
            {#				<img src="{% static "vertical-timeline/img/cd-icon-location.svg" %}" alt="Location">#}
            {#			</div> <!-- cd-timeline-img -->#}
            {##}
            {#			<div class="cd-timeline-content">#}
            {#				<h2>Title of section 4</h2>#}
            {#				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>#}
            {#				<a href="#0" class="cd-read-more">Read more</a>#}
            {#				<span class="cd-date">Feb 14</span>#}
            {#			</div> <!-- cd-timeline-content -->#}
            {#		</div> <!-- cd-timeline-block -->#}
            {##}
            {#		<div class="cd-timeline-block">#}
            {#			<div class="cd-timeline-img cd-location">#}
            {#				<img src="{% static "vertical-timeline/img/cd-icon-location.svg" %}" alt="Location">#}
            {#			</div> <!-- cd-timeline-img -->#}
            {##}
            {#			<div class="cd-timeline-content">#}
            {#				<h2>Title of section 5</h2>#}
            {#				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>#}
            {#				<a href="#0" class="cd-read-more">Read more</a>#}
            {#				<span class="cd-date">Feb 18</span>#}
            {#			</div> <!-- cd-timeline-content -->#}
            {#		</div> <!-- cd-timeline-block -->#}
            {##}
            {#		<div class="cd-timeline-block">#}
            {#			<div class="cd-timeline-img cd-movie">#}
            {#				<img src="{% static "vertical-timeline/img/cd-icon-movie.svg" %}" alt="Movie">#}
            {#			</div> <!-- cd-timeline-img -->#}
            {##}
            {#			<div class="cd-timeline-content">#}
            {#				<h2>Final Section</h2>#}
            {#				<p>This is the content of the last section</p>#}
            {#				<span class="cd-date">Feb 26</span>#}
            {#			</div> <!-- cd-timeline-content -->#}
            {#		</div> <!-- cd-timeline-block -->#}

        </section> <!-- cd-timeline -->

    </div>

    <div id="event-details" class="uk-modal" style="z-index: 1300;">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>

            <div class="uk-modal-header "style="width: 100%; float: left;" >
                <h2 style="float: left"></h2>
            </div>
            <hr class="uk-clearfix">

            <div class="uk-margin-top uk-margin-bottom" id="modalbody">
                <ul id="tranlationtabs" class="uk-tab" data-uk-tab="{connect:'#tranlationtabsContent'}">
                </ul>

                <ul id="tranlationtabsContent" class="uk-switcher uk-margin">
                    {#                <li>...</li>#}
                </ul>

            </div>

            <div id="item-gallery" class="uk-grid uk-grid-width-medium-1-4" data-uk-grid-margin></div>

            <div class="uk-modal-footer">

            </div>

        </div>
    </div>




    <script src="{% static "vertical-timeline/js/main.js" %}"></script>

    <script>
        var itemDetailsModal = UIkit.modal("#event-details");


        function show_item_details(
            data
        ) {
            var dt = data.properties;

            var edt = dt.actual_date;
            var evdate = new Date(edt);

            console.log(dt);


            $('#event-details').find('h2').html(dt.name_global+' <small>'+evdate.getFullYear()+'</small>');

            var transdiv = $('#tranlationtabs').html('');
            var transdivContent = $('#tranlationtabsContent').html('');


            $('#item-gallery').html('');

            {#            console.log(translations);#}
            if (dt.basecalltranslation_set.length > 0 ){

                $.each(dt.basecalltranslation_set, function (i,l) {
                    {#                console.log(i, l);#}
                    var act = "";
                    var flaglang = l.language;

                    if (flaglang == 'en'){
                        flaglang = 'gb';
                    }

                    if ( l.language == "{{ LANGUAGE_CODE }}" ){
                        act = "uk-active";
                    }

                    var langflag = '<span class="flag-icon flag-icon-'+flaglang+'"></span>';

                    var langdata = '<h2>'+l.name+'</h2>'+l.description;

                    transdiv.append('<li class="'+act+'"><a href="">'+langflag+'</a></li>');
                    transdivContent.append('<li class="'+act+'">'+langdata+'</li>');

                });
            }


            {#             console.log(images.features);#}



            var photographer = ( dt.main_image.properties.photographer === null) ? ' ' : ', ljósmynd: '+dt.main_image.properties.photographer.name_global;

            var caption = "";

            {#            console.log(dt.main_image.properties.basecalltranslation_set);#}


            $.each(dt.main_image.properties.basecalltranslation_set, function (i, t) {
{#                if(t.language == '{{ LANGUAGE_CODE }}')#}
                caption = caption + '<strong>'+t.name + '</strong>' + t.description  + '<br>';
            });

            $('#item-gallery').append('<a href="/media/filer_thumbnails/'+ dt.main_image.properties.image_display
                + '" data-lightbox-type="image"  data-uk-lightbox="{group:\'my-group\'}" '
                + '" title="'+caption+photographer+'">'
                {#                + '<figure class="uk-overlay uk-overlay-hover">'#}
                + '<img src="/media/filer_thumbnails/'+ dt.main_image.properties.image_display
                +'" title="'+caption+photographer+'">'
                {#                + '<figcaption class="uk-overlay-panel uk-overlay-slide-bottom">safasdfasdfasdfsadfsadfasdf</figcaption> </figure>'#}
                +'</a>');


            if (dt.images.features.length > 0 ){
                var imagelist = [];
                $.each(dt.images.features, function (i, l) {


                    var photographer2  = ( l.properties.photographer === null) ? ' ' : ', ljósmynd: '+l.properties.photographer.name_global;

                    var caption2 = "";

            {#            console.log(dt.main_image.properties.basecalltranslation_set);#}


            $.each(l.properties.basecalltranslation_set, function (i, t) {
{#                if(t.language == '{{ LANGUAGE_CODE }}')#}
                caption2 = caption2 + '<strong>'+t.name + '</strong>' + t.description  + '<br>';
            });

                    {#                    console.log(photographer2);#}

                    $('#item-gallery').append('<a href="/media/filer_thumbnails/'+ l.properties.image_display
                        + '" data-lightbox-type="image"  data-uk-lightbox="{group:\'my-group\'}"'
                        + '" title="'+caption2+photographer2+'">'
                        + '<img src="/media/filer_thumbnails/'+ l.properties.image_display
                        + '" title="'+caption2+photographer2+'">'
                        +'</a>');
                });
            }


            if ( itemDetailsModal.isActive() ) {
                itemDetailsModal.hide();
            } else {
                itemDetailsModal.show();
            }
        }

        $('.uk-thumbnail').on('click', function(){
            var event_id = $(this).attr('id');

            $.ajax({
                url: '/{{ LANGUAGE_CODE }}/history/'+event_id.replace('event-','')+'/?format=json',
                context: document.body,

                success: function (data) {

                    {#                    console.log(data);#}

                    show_item_details(data);
                }

            });
        });
    </script>

{% endblock maincontent %}


{% block footer %}
    {{ block.super }}
{% endblock footer %}
