{% extends 'base.html' %}
{% load i18n leaflet_tags olfus_extras static %}

{% block jscompress %}
    {{ block.super }}
{#    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>#}
    {#    {% leaflet_js %}#}
{% endblock jscompress %}

{% block csscompress %}
    {{ block.super }}
    {#    {% leaflet_css %}#}
{#    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet'/>#}

    <style>
        #map {
            width: 100%;
            height: 100%;
        }

        #menu {
            position: absolute;
            background: rgba(255, 255, 255, 0.53);
            padding: 10px;
            z-index: 1200 !important;

        }

        #menu input {
            margin: 5px;
        }

        #menu label {
            font-weight: bold;
        }

        #infodata {
            position: absolute;
            background: #fff;
            padding: 0;
            left: 0;
            bottom: 0;
        {#            top: 30px;#} z-index: 1200 !important;

        }

        {#.service-marker,#}
        {#.house-marker,#}
        {#.hike-marker {#}
        {#    display: block;#}
        {#    border: none;#}
        {#            border-radius: 50%;#}
        {# cursor: pointer; #}
        {#    padding: 0;#}
        {# }#}

        div.uk-modal.uk-open {
            z-index: 1400 !important;
        }

        .marker-highlight {
            border: 2px solid red;
            background-color: red;
            border-radius: 2px;

        }

        {#li.houselist:hover {#}
        {#    cursor: pointer;#}
        {# }#}

        div.uk-offcanvas-bar {
            z-index: 1800 !important;
            color: gainsboro;
            padding: 30px;
        }

        {##btn-sagas {#}
        {#    background-color: #deb486;#}
        {# }#}
        {##}
        {##btn-services {#}
        {#    background-color: #73a0de;#}
        {# }#}
        {##}
        {##btn-stops {#}
        {#    background-color: #34de42;#}
        {# }#}
        {##}
        {##btn-sagas .uk-active {#}
        {#    background-color: #ac845e;#}
        {# }#}
        {##}
        {##btn-services .uk-active {#}
        {#    background-color: rgb(93, 125, 176);#}
        {# }#}
        {##}
        {##btn-stops .uk-active {#}
        {#    background-color: #289a2f;#}
        {# }#}

        {##owners h3 {#}
        {#    font-size: larger;#}
        {# }#}

    </style>
{% endblock csscompress %}

{#{% block pageheader %}#}
{#{% endblock pageheader %}#}


{% block maincontent %}
    <div class="uk-container uk-container-center zzuk-margin-top zzuk-margin-bottom" style="height:86vh;"
         data-uk-sticky="{top:20}">

        {#        {% leaflet_map "map" callback="window.map_init_basic" %}#}
        <div id='map'>
            <div id='menu'>
                <form class="uk-form">

                    <fieldset data-uk-margin>
                        <label for='basic'>
                            <input id='basic' type='radio' name='rtoggle'
                                   value='mapbox://styles/ebergmundur/cio2unuiq000m0bnkl54fg5qb' checked="checked">
                            {% trans 'Kort' %}
                        </label>
                        {#                        <label for='streets'>#}
                        {#                            <input id='streets' type='radio' name='rtoggle' value='mapbox://styles/mapbox/streets-v9'>#}
                        {#                            {% trans 'Götur' %}#}
                        {#                        </label>#}
                        {#                        <label for='bright'>#}
                        {#                            <input id='bright' type='radio' name='rtoggle' value='bright'>#}
                        {#                            Bjart#}
                        {#                        </label>#}
                        {#                        <input id='light' type='radio' name='rtoggle' value='light'>#}
                        {#                        <label for='light'>light</label>#}
                        {#                        <input id='dark' type='radio' name='rtoggle' value='dark'>#}
                        {#                        <label for='dark'>dark</label>#}
                        <label for='satellite'>
                            <input id='satellite' type='radio' name='rtoggle'
                                   value='mapbox://styles/ebergmundur/cio2uzt1p002jc7m7tzmn1nsp'>
                            {% trans 'Loftmynd' %} bb
                        </label>
                    </fieldset>
                </form>
            </div>

            <div id="infodata" class="uk-button-group">
                <button id="btn-houses" class="uk-button ">{% trans 'Húsin' %}</button>
                <button id="btn-sagas" class="uk-button ">{% trans 'Sögustaðir' %}</button>
                <button id="btn-services" class="uk-button ">{% trans 'Þjónusta' %}</button>
                <button id="btn-stops" class="uk-button">{% trans 'Áhugaverðir staðir' %}</button>
            </div>

        </div>

    </div>

    {% include "includes/detailmodal.html" %}



    <script>

        var _btn_houses = false;
        var _btn_hikepaths = false;
        var _btn_services = false;
        var _btn_stops = false;
        var _btn_sagas = false;
        var _btn_entertainment = false;
        var language = '{{ LANGUAGE_CODE }}';
        var activeLayers = [];
        var services_json = null;

        var housebounds = false;
        var servicebounds = false;

        var linetotest;



        var itemDetailsModal = UIkit.modal("#item-details");

        // var server = 'http://geos.natturan.is';
        var server = "//olfusborgir.is/geos";
        // var server = 'http://127.0.0.1:8008/geos ';

        function show_item_details(
            name_global,
            street_address,
            post_code,
            phone,
            email,
            website,
            logo_display,
            entity_type,
            translations,
            images,
            institutiondata,
            owners,
            yfirflokkar,
            flokkar,
            lysing
        ) {

            var houseinfo ='';
            {#            console.log(images);#}

            $('#item-details').find('h2').text(name_global);

            $('#item-gallery').html('');
            $('#owners').html('').show();
            $('#flokkahopur').hide();


            if (institutiondata) {
                $('#institutiondata').show();
                {#$('#logo').show();#}
                {#$('#entitytypeicon').show();#}
                $('#item-details').find('#home').text(street_address + ' ');
                $('#item-details').find('#postcode').text(post_code);
                $('#item-details').find('#phone').text(phone).parent('a').attr('href', 'tel:' + phone);
                $('#item-details').find('#email').text(email).parent('a').attr('href', 'mailto:' + email);
                $('#item-details').find('#website').text(website).parent('a').attr('href', website);

                $('#item-details').find('#yfirflokkar').text(yfirflokkar);
                $('#item-details').find('#flokkar').text(flokkar);
                $('#item-details').find('#lysing').html(lysing);

                {#$('#item-details').find('#logo').attr('src', '/media/filer_thumbnails/'+logo_display );#}
                {#$('#item-details').find('#entitytypeicon').attr('src', '/static/olfus/icons/'+entity_type+'-15.svg' );#}

                $('#logo').hide();
                $('#entitytypeicon').hide();

            } else {
                $('#institutiondata').hide();
                $('#logo').hide();
                $('#entitytypeicon').hide();
            }

            var transdiv = $('#tranlationtabs');
            var transdivContent = $('#tranlationtabsContent');

            transdiv.html('');
            transdivContent.html('');

            {#            console.log(translations);#}
            if (translations != null) {
                {#$('#extradata').html('').show();#}
                $.each(translations, function (i, l) {
                    {#                console.log(i, l);#}
                    var act = "";
                    var flaglang = l.language;

                    //if (flaglang == 'en') {
                    //    flaglang = 'gb';
                    //}

                    //if (l.language == "{{ LANGUAGE_CODE }}") {
                    //act = "uk-active";
                    // }

                    var langflag = '<span class="flag-icon flag-icon-' + flaglang + '"></span>';

                    //var langdata = '<h2>' + l.name + '</h2>' + l.description;
                    houseinfo = '<p>' + l.description; + '</p>';

                    //transdiv.append('<li class="' + act + '"><a href="">' + langflag + '</a></li>');
                    // transdivContent.append('<li class="' + act + '">' + langdata + '</li>');

                });
            }


            {#             console.log(images.features);#}

            if (images != null) {
                var imagelist = [];
                $.each(images, function (i, l) {
                    {#                    console.log(l);#}


                    $('#item-gallery').append('<a href="/media/filer_thumbnails/' + l.properties.image_display
                        + '" data-lightbox-type="image"  data-uk-lightbox="{group:\'my-group\'}" >'
                        + '<img src="/media/filer_thumbnails/' + l.properties.image_display + '">'
                        + '</a>');
                    {#                    var newImage = {'source': l.properties.gallery_display, 'type': 'image'};#}
                    {#                    imagelist.push(newImage);#}
                });
                {#                var lightbox = UIkit.lightbox.create(imagelist).show();#}
            }

            if (owners.length > 0) {

                var ownerslist = '';


                if (owners.length == 1) {
                    ownerslist = '<h3>{% trans "Eigandi" %}</h3>';
                } else {

                    ownerslist = '<h3>{% trans "Eigendur" %}</h3>';
                }


                $.each(owners, function (i, l) {
                    {#console.log(i,l);#}

                    var logo = ' ';

                    if (l.properties.logo_display > ' ') {
                        logo = '<img src="/media/filer_thumbnails/' + l.properties.logo_display + '" class="uk-float-right" style="height: 60px; width: auto;">';
                    }

                    {#console.log(l.properties);#}
                    {#console.log(logo);#}

                    // l.properties.phone.replace(\' \', \'\').replace(\'-\',\'\')

                    var em = '<a href="mailto:' + l.properties.email + '">' + l.properties.email + '</a><br/>';
                    var ph = '<a href="tel:' + l.properties.phone + '">' + l.properties.phone + '</a><br/>';
                    var ww = '<a href="' + l.properties.website + '" target="_blank">' + l.properties.website + '</a>';

                    linetotest = em + ph + ww;

                    var owner = "<hr><h3>" + logo + l.properties.name_global + "</h3>" + em + ph + ww;

                    {#console.log(owner);#}

                    ownerslist =  ownerslist + owner;



                    {#                    var newImage = {'source': l.properties.gallery_display, 'type': 'image'};#}
                    {#                    imagelist.push(newImage);#}
                });

                {#console.log(ownerslist);#}

                houseinfo = houseinfo + ownerslist;

                $('#owners').html(houseinfo);
                {#$('#owners').prepend('<p>' + houseinfo + '</p>');#}
                {#                var lightbox = UIkit.lightbox.create(imagelist).show();#}
            }


            if (itemDetailsModal.isActive()) {
                itemDetailsModal.hide();
            } else {
                itemDetailsModal.show();
            }
        }


        {#    map_init_basic(map, options);#}

        {#        //63.9943803,-21.162735,552#}
        mapboxgl.accessToken = 'pk.eyJ1IjoiZWJlcmdtdW5kdXIiLCJhIjoiS29NTGhrcyJ9.HD-qjtoUPuOrNROrzq2n2g';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/ebergmundur/cio2unuiq000m0bnkl54fg5qb', //stylesheet location
            center: [-21.1623, 63.9939], // starting position
            zoom: 16, // starting zoom,
            hash: false
        });
        map.addControl(new mapboxgl.NavigationControl());




        $('#btn-houses').on('mouseup', function () {
            {#            console.log($(this).text());#}


            $('#item-details').find('#ferdamalastofa').html('').hide();
            $('#item-details').find('#yfirflokkar').html('').hide();
            $('#item-details').find('#flokkar').html('').hide();
            $('#item-details').find('#extradata').html('').hide();
            $('#institutiondata').hide();

            if (!_btn_houses) {

                cleanmap("houses", true);

                {#_btn_houses = true;#}


                if ($('.house-marker').length) {
                    $('.house-marker').show();
                    map.fitBounds(housebounds, {padding: {top: 150, bottom: 150, left: 150, right: 150}});
                    return
                }

                $.ajax({
                    //url: '/{{ LANGUAGE_CODE }}/house/?format=json',
                    url: '/house/?format=json',
                    context: document.body,
                    success: function (data) {

                        housebounds = new mapboxgl.LngLatBounds();


                        data.features.forEach(function (marker) {
                            // create a DOM element for the marker

                            {#                            console.log(marker);#}


                            var el = document.createElement('div');
                            var newContent = document.createTextNode(marker.properties.number);
                            el.appendChild(newContent);
                            el.className = 'house-marker';
                            el.id = 'house-' + marker.properties.id;
                            el.style.backgroundImage = 'url(/static/olfus/icons/home-11.svg)';
                            el.style.backgroundSize = '16px, 16px';
                            // el.style.background = '16px, 16px';
                            el.style.backgroundRepeat = 'no-repeat';
                            el.style.textAlign = 'right';
                            {#el.style.backgroundPositionX = '0px;';#}
                            el.style.width = '30px'; //marker.properties.iconSize[0] + 'px';
                            el.style.height = '16px';//marker.properties.iconSize[1] + 'px';

                            if (marker.properties.special_needs) {
                                //el.className = 'house-marker';
                                el.style.backgroundImage = 'url(/static/olfus/icons/wheelchair-15.svg)';
                                //el.style.backgroundSize = '24px, 24px';
                                //el.style.width = '24px'; //marker.properties.iconSize[0] + 'px';
                                //el.style.height = '24px';//marker.properties.iconSize[1] + 'px';

                            }
                            /*

                            if (marker.properties.service_house) {
                                el.className = 'house-marker';
                                el.style.backgroundImage = 'url(/static/olfus/icons/commercial-15.svg)';
                                el.style.backgroundSize = '24px, 24px';
                                el.style.width = '24px'; //marker.properties.iconSize[0] + 'px';
                                el.style.height = '24px';//marker.properties.iconSize[1] + 'px';

                            }
                             */

                            {#                            console.log(marker.properties);#}

                            el.addEventListener('click', function () {
                                {#                                window.alert(marker.properties.name_global);#}
                                show_item_details(
                                    marker.properties.name_global,
                                    '',
                                    '',
                                    '',
                                    '',
                                    '',
                                    marker.properties.main_image,
                                    '',
                                    marker.properties.basecalltranslation_set,
                                    marker.properties.images.features,
                                    false,
                                    marker.properties.owned_by.features,
                                    '',
                                    '',
                                    ''
                                );
                            });

                            // add marker to map

                            if (marker.geometry.coordinates != null) {
                                housebounds.extend(marker.geometry.coordinates);
                            }

                            var newhouse = new mapboxgl.Marker(el, {offset: [-15, 0]})
                                .setLngLat(marker.geometry.coordinates).addTo(map);


                        });

                        if (housebounds !== false) {
                            map.fitBounds(housebounds, {padding: {top: 150, bottom: 150, left: 150, right: 150}});
                        }
                    }
                });


            }
            else {

                cleanmap("houses", false);

                // _btn_houses = false;
            }


        });

        // ____________________________________


        function item_details(item, geostype) {

            // console.log(item);
            // console.log(geostype);
            // console.log(item[0].properties.nafn);


            var ips = item[0].properties;

            var heiti = ((ips.heiti == null) ? ips.nafn : ips.heiti);
            var heimilisfang = ((ips.heimilisfang == null) ? "" : ips.heimilisfang);
            var postnumer = ((ips.postnumer == null) ? "" : ips.postnumer);
            var simi = ((ips.simi == null) ? "" : ips.simi);
            var netfang = ((ips.netfang == null) ? "" : ips.netfang);
            var vefur = ((ips.vefur == null) ? "" : ips.vefur);

            $('#owners').html('').hide();

            $('#item-details').find('h2').text(heiti);
            $('#entitytypeicon').hide();


            $('#item-details').find('#heimild').hide();
            $('#item-details').find('#ferdamalastofa').hide();
            $('#item-details').find('#extradata').hide();


            if (item[0].source == "services") {
                $('#owners').html('').hide();

                $('#institutiondata').show();
                $('#flokkahopur').show();
                $('#item-details').find('#ferdamalastofa').show();

                $('#item-details').find('#home').text(heimilisfang);
                $('#item-details').find('#postcode').text(postnumer);
                $('#item-details').find('#phone').text(simi).parent('a').attr('href', 'tel:' + simi);
                $('#item-details').find('#email').text(netfang).parent('a').attr('href', 'mailto:' + netfang);
                $('#item-details').find('#website').text(vefur).parent('a').attr('href', vefur);

                $('#item-details').find('#yfirflokkar').text(ips.yfirflokkar).show();
                $('#item-details').find('#flokkar').text(ips.flokkar).show();
                $('#item-details').find('#lysing').html(ips.lysing).show();


            }

            if (item[0].source == "stops") {

                $('#institutiondata').hide();
                $('#flokkahopur').show();
                $('#item-details').find('#ferdamalastofa').show();

                $('#item-details').find('#yfirflokkar').hide();
                $('#item-details').find('#flokkar').text(ips.flokkar).show();
                $('#item-details').find('#lysing').html(ips.lysing).show();
                $('#item-details').find('#lysing').html(ips.lysing).show();

                $('#item-details').find('#heimild').html('<h3>Heimildir</h2>' + ips.heimild).show();


            }

            if (item[0].source == "sagas") {

                $('#institutiondata').hide();
                $('#flokkahopur').show();
                $('#item-details').find('#ferdamalastofa').show();

                $('#item-details').find('#yfirflokkar').text(ips.sogur).show();
                $('#item-details').find('#flokkar').text('').hide();
                $('#item-details').find('#lysing').html(ips.texti_html).show();


            }



//
//
            if (itemDetailsModal.isActive()) {
                itemDetailsModal.hide();
            } else {
                itemDetailsModal.show();
            }
        }

        // ____________________________________


        var getgeos = function (geostype) {

            var _btn;
            var _btnc;
            var _gtype = geostype;


            switch (geostype) {
                case "stops":
                    _btn = _btn_stops;
                    _btnc = "#34de42";
                    break;
                case "sagas":
                    _btn = _btn_sagas;
                    _btnc = "#deb486";
                    break;
                case "services":
                    _btn = _btn_services;
                    _btnc = "#73a0de";
                    break;
            }


            if (!_btn) {



                // var geosdata;
//
                if (!map.getSource(_gtype)) {
//

                    map.addSource(_gtype, {
                        type: "geojson",
                        // Point to GeoJSON data. This example visualizes all M1.0+ earthquakes
                        // from 12/22/15 to 1/21/16 as logged by USGS' Earthquake hazards program.
                        data: server + "/" + _gtype + "/?dist=25000&point=-21.1623,63.9939&format=json",
                        cluster: true,
                        clusterMaxZoom: 17, // Max zoom to cluster points on
                        clusterRadius: 20 // Radius of each cluster when clustering points (defaults to 50)
                    });


                    map.addLayer({
                        id: _gtype + "-clusters",
                        type: "circle",
                        source: _gtype,
                        filter: ["has", "point_count"],
                        paint: {
                            // Use step expressions (https://www.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
                            // with three steps to implement three types of circles:
                            //   * Blue, 20px circles when point count is less than 100
                            //   * Yellow, 30px circles when point count is between 100 and 750
                            //   * Pink, 40px circles when point count is greater than or equal to 750
                            "circle-color": [
                                "step",
                                ["get", "point_count"],
                                "#51bbd6",
                                50,
                                "#f1f075",
                                100,
                                "#f21d30"
                            ],
                            "circle-radius": [
                                "step",
                                ["get", "point_count"],
                                // 6,
                                // 3,
                                20,
                                50,
                                30,
                                100,
                                40
                            ]
                        }
                    });

                    map.addLayer({
                        id: _gtype + "-cluster-count",
                        type: "symbol",
                        source: _gtype,
                        filter: ["has", "point_count"],
                        layout: {
                            "text-field": "{point_count_abbreviated}",
                            "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
                            "text-size": 12
                        }
                    });

                    map.addLayer({
                        id: _gtype + "-unclustered-point",
                        type: "circle",
                        source: _gtype,
                        filter: ["!", ["has", "point_count"]],
                        paint: {
                            "circle-color": _btnc,
                            "circle-radius": 6,
                            "circle-stroke-width": 3,
                            "circle-stroke-color": "#fff"
                        }
                    });

                    // map.setZoom(8);

                    {#map.easeTo({#}
                    {#    center: map.getCenter(),#}
                    {#    zoom: 8#}
                    {# });#}

                    boundlimits = map.setZoom(8).getSource(_gtype);
                    boundbox = map.getBounds(boundlimits);
                    map.fitBounds(boundbox, {boundbox: {top: 150, bottom: 150, left: 150, right: 150}});


                    // inspect a cluster on click
                    map.on('click', _gtype + '-clusters', function (e) {
                        var features = map.queryRenderedFeatures(e.point, {layers: [_gtype + '-clusters']});
                        var clusterId = features[0].properties.cluster_id;
                        map.getSource(_gtype + '-service').getClusterExpansionZoom(clusterId, function (err, zoom) {
                            if (err)
                                return;

                            map.easeTo({
                                center: features[0].geometry.coordinates,
                                zoom: zoom
                            });
                        });
                    });

                    map.on('click', _gtype + '-unclustered-point', function (e) {
                        var features = map.queryRenderedFeatures(e.point, {layers: [_gtype + '-unclustered-point']});
                        item_details(features, geostype);
                    });

                    map.on('mouseover', _gtype + '-clusters', function () {
                        map.getCanvas().style.cursor = 'pointer';
                    });
                    map.on('mouseleave', _gtype + '-clusters', function () {
                        map.getCanvas().style.cursor = 'grab';
                    });

                    map.on('mouseover', _gtype + '-unclustered-point', function () {
                        map.getCanvas().style.cursor = 'pointer';
                    });
                    map.on('mouseleave', _gtype + '-unclustered-point', function () {
                        map.getCanvas().style.cursor = 'grab';
                    });

                    cleanmap(geostype, true);

                } else {
                    // map.setLayoutProperty(_gtype + '-unclustered-point', 'visibility', 'visible');
                    // map.setLayoutProperty(_gtype + '-cluster-count', 'visibility', 'visible');
                    // map.setLayoutProperty(_gtype + '-clusters', 'visibility', 'visible');

                    cleanmap(geostype, true);



                    boundlimits = map.setZoom(8).getSource(_gtype);
                    boundbox = map.getBounds(boundlimits);
                    map.fitBounds(boundbox, {boundbox: {top: 150, bottom: 150, left: 150, right: 150}});
                }

            }
            else {
                cleanmap(geostype, false);

            }


        };

        // ------------------------------------

        $('#btn-stops').on('mouseup', function (e) {
            getgeos("stops");
        });


        $('#btn-services').on('mouseup', function (e) {
            getgeos("services");
        });

        $('#btn-sagas').on('mouseup', function (e) {
            getgeos("sagas");
        });



        $('#btn-hikepaths').on('mouseup', function () {

            if (!_btn_hikepaths) {

                _btn_hikepaths = true;


                if (map.getSource('hikepaths_src')) {
                    {#                    console.log('houses_src');#}
                } else {
                    {#                    console.log('NO houses_src');#}
                    map.addSource('hikepaths_src', {
                        type: 'geojson',
                        data: '/hikepath/?format=json'
                        //data: '/{{ LANGUAGE_CODE }}/hikepath/?format=json'

                    });
                }


                map.addLayer({
                    "id": "hikepaths",
                    "type": "line",
                    "source": "hikepaths_src",
                    "minzoom": 11,
                    "layout": {
                        {#                        "text-field": "{name_global}",#}
                        {#                        "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],#}
                        {#                        "text-offset": [0, 0.6],#}
                        {#                        "text-anchor": "top",#}
                        "line-join": "round",
                        "line-cap": "round"
                    },
                    "paint": {
                        "line-width": 3,
                        "line-color": "#ffa423"
                    },
                    "filter": ["==", "$type", "LineString"]
                });

                {#                map.fitBounds(, { padding: '300' });#}
                activeLayers.push('hikepaths');
            } else {
                _btn_hikepaths = false;
                activeLayers.pop('hikepaths');
                map.removeLayer('hikepaths');

            }

        });


        var layerList = document.getElementById('menu');
        var inputs = layerList.getElementsByTagName('input');

        function switchLayer(layer) {
            {#cleanmap(geostype, false);#}
            var layerId = layer.target.value;
            map.setStyle(layerId);
            {#            console.log("switchLayer");#}
            {#            map.setStyle('mapbox://styles/mapbox/' + layerId + '-v9');#}
            {#            showPoints();#}
        }

        for (var i = 0; i < inputs.length; i++) {
            {#            console.log("inputs[i]");#}
            inputs[i].onclick = switchLayer;
        }

        map.on('load', function () {


        });




        $(document).ready(function () {
            UIkit.Utils.scrollToElement($('#map'), {
                duration: 4000,
                offset: 0
            });

            {#            showPoints();#}
        });


        function formatNumber(num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
        }

        function cleanmap(geostype, action) {

            var sourcestatus = "";

            if (action) {
                sourcestatus = "visible";
            } else {
                sourcestatus = "none";
            }

            $('.house-marker').hide();

            if (map.getSource('stops')) {
                map.setLayoutProperty('stops-unclustered-point', 'visibility', 'none');
                map.setLayoutProperty('stops-cluster-count', 'visibility', 'none');
                map.setLayoutProperty('stops-clusters', 'visibility', 'none');
            }

            if (map.getSource('sagas')) {
                map.setLayoutProperty('sagas-unclustered-point', 'visibility', 'none');
                map.setLayoutProperty('sagas-cluster-count', 'visibility', 'none');
                map.setLayoutProperty('sagas-clusters', 'visibility', 'none');
            }

            if (map.getSource('services')) {
                map.setLayoutProperty('services-unclustered-point', 'visibility', 'none');
                map.setLayoutProperty('services-cluster-count', 'visibility', 'none');
                map.setLayoutProperty('services-clusters', 'visibility', 'none');
            }


            if (map.getSource(geostype) && action) {
                map.setLayoutProperty(geostype + '-unclustered-point', 'visibility', sourcestatus);
                map.setLayoutProperty(geostype + '-cluster-count', 'visibility', sourcestatus);
                map.setLayoutProperty(geostype + '-clusters', 'visibility', sourcestatus);
            }


            // language=JQuery-CSS
            if (geostype == "houses") {
                if (action) {
                    $('.house-marker').show();
                } else {
                    $('.house-marker').hide();
                }
            }


            $('#btn-houses').removeClass('uk-button-danger');
            $('#btn-stops').removeClass("uk-button-danger");
            $('#btn-services').removeClass("uk-button-danger");
            $('#btn-sagas').removeClass("uk-button-danger");


            _btn_houses = false;
            _btn_stops = false;
            _btn_sagas = false;
            _btn_services = false;


            eval("_btn_" + geostype + " = " + action);

            if (action) {
                $('#btn-' + geostype).addClass("uk-button-danger");
            }
        }


    </script>

{% endblock maincontent %}

{% block windowsizes %}
    //var vdf = $('#videoframe');
    //var vdfh = vdf.parent('div').width();
    //vdf.attr('width', vdfh - 2  );
    //vdf.attr('height', vdfh * 0.56);
{% endblock windowsizes %}

{% block footer %}
    {{ block.super }}
{% endblock footer %}
