{% extends 'base.html' %}
{% load i18n l10n olfus_extras static thumbnail %}

{% block jscompress %}
    {{ block.super }}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js'></script>
    {#    {% leaflet_js %}#}
{% endblock jscompress %}

{% block csscompress %}
    {{ block.super }}
    {#    {% leaflet_css %}#}
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css' rel='stylesheet' />


{% endblock csscompress %}


{% block maincontent %}
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

        <h1>{% trans "Grannar og aðstandendur" %}</h1>

        <div class="uk-accordion" data-uk-accordion="{collapse: false, showfirst: false }">
            {% for institution in institutions %}

                {% ifchanged institution.entity_type %}
                    {% with institution.entity_type|in_lang:LANGUAGE_CODE as type_tr%}
                        <h2> <img src="/static/olfus/icons/{{ institution.entity_type.icon }}-15.svg" id="entitytypeicon" style="height: 28px; width: auto;"> {{ type_tr.name }}
                        </h2>
                    {% endwith %}

                {% endifchanged %}

                {% with institution|in_lang:LANGUAGE_CODE as inst_tr %}
                    <h3 id="inst-{{ institution.id }}" class="uk-accordion-title">
                        {{ inst_tr.name|default:institution.name_global }}
                    </h3>
                    <div class="uk-accordion-content">
                        <img src="{% thumbnail institution.logo 0x80 crop %}" class="uk-align-right">
                        <i class="uk-icon-home" aria-hidden="true"></i> {{ institution.street_address|default_if_none:"" }}
                        {{ institution.post_code|default_if_none:"" }}<br>
                        <i class="uk-icon-phone" aria-hidden="true"></i>
                        <a href="tel:{{ institution.phone }}">{{ institution.phone|default_if_none:"" }}</a><br>
                        <i class="uk-icon-envelope-o" aria-hidden="true"></i>
                        <a href="mailto:{{ institution.email }}">{{ institution.email|default_if_none:"" }}</a><br>
                        <i class="uk-icon-external-link" aria-hidden="true"></i>
                        <a href="{{ institution.website }}" target="_blank">{{ institution.website|default_if_none:"" }}</a>

                        <br>

                        {% if institution.house_set.count %}
                            <br>
                            {% trans "Hús: " %}

                            {% for house in institution.house_set.all %}
                                {% if forloop.counter > 1 %}, {% endif %}
                                {{ house.number }}
                            {% endfor %}
                            <br>

                        {% endif %}

                        {% if institution.entity_type.id != 4 and institution.location  %}
                            <br>

                            <button id="{{ institution.id }}"
                                    class="mapbtn uk-button uk-button-primary"
                                    itemlocation="{{ institution.location.json }}"
                                    itemname="{{ inst_tr.name|default:institution.name_global }}"
                                    zzdata-uk-modal="{target:'#item-map'}">{% trans "Kort" %}</button>
                            <br>
                        {% endif %}



                        <hr class="uk-article-divider">

                        <div class="uk-grid" data-uk-grid-margin="">

                            <div class="uk-width-medium-1-2 uk-row-first">
                                {{ inst_tr.description|safe }}
                            </div>
                            {#                    <div class="uk-grid-width-medium-1-2" >#}
                            {#                        <div id="map">#}
                            {##}
                            {#                        </div>#}
                            {##}
                            {#                    </div>#}
                        </div>

                        {% if institution.other_image.count > 0 %}
                            <div id="" class="uk-grid uk-grid-width-medium-1-4" data-uk-grid-margin>
                                {% for eimage in institution.other_image.all %}
                                    <a href="{% thumbnail eimage.image_file 600x800 %}" data-lightbox-type="image"
                                       data-uk-lightbox="{group:'{{ institution.id }}-group'}" >
                                        <img src="{% thumbnail eimage.image_file 600x800 %}">
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}


                    </div>

                {% endwith %}
            {% endfor %}
        </div>

    </div>

    {% include "includes/mapmodal.html" %}

    <script>

        mapboxgl.accessToken = 'pk.eyJ1IjoiZWJlcmdtdW5kdXIiLCJhIjoiS29NTGhrcyJ9.HD-qjtoUPuOrNROrzq2n2g';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/ebergmundur/cio2unuiq000m0bnkl54fg5qb', //stylesheet location
            center: [-21.1623, 63.9939], // starting position
            zoom: 11, // starting zoom,
            hash: false
        });
        map.addControl(new mapboxgl.NavigationControl());

        var layerList = document.getElementById('menu');
        var inputs = layerList.getElementsByTagName('input');

        function switchLayer(layer) {
            var layerId = layer.target.value;
            map.setStyle(layerId);
        }

        for (var i = 0; i < inputs.length; i++) {
            {#            console.log("inputs[i]");#}
            inputs[i].onclick = switchLayer;
        }

        $(document).ready(function() {



        });

        $('.uk-accordion-title').on('click', function(e){
            {#           console.log(e);#}
            {#           console.log($(this));#}
        });

        $('.mapbtn').on('click', function(e){
            var modal = UIkit.modal('#item-map');

            var itloc = JSON.parse($(this).attr('itemlocation'));
            console.log(itloc.coordinates);
            {#            console.log($(this).attr('itemname'));#}


            if (map.getLayer('point')){
                map.removeLayer('point').removeSource('point');
            }


            map.addSource('point', {
                "type": "geojson",
                "data": itloc
            });

            map.addLayer({
                "id": "point",
                "source": "point",
                "type": "circle",
                "paint": {
                    "circle-radius": 10,
                    "circle-color": "#007cbf"
                }
            });



            $('#item-map').find('h2').text($(this).attr('itemname'));

            if ( modal.isActive() ) {
                modal.hide();
            } else {
                modal.show();
                map.resize().flyTo({

                    center: itloc.coordinates,

                    zoom: 17,
                    bearing: 3,

                    // These options control the flight curve, making it move
                    // slowly and zoom out almost completely before starting
                    // to pan.
                    speed: 0.8, // make the flying slow
                    curve: 1, // change the speed at which it zooms out

                    // This can be any easing function: it takes a number between
                    // 0 and 1 and returns another number between 0 and 1.
                    easing: function (t) {
                        return t;
                    }

                });
            }
            {#            $('body').width(bw - 1 ).width(bw);#}
            {##}
            {#            var ww = window.width();#}
            {#            window.width(ww-1);#}
            {#            window.width(ww);#}

        });

    </script>



{% endblock maincontent %}


{#{% block footer %}#}
{#    {{ block.super }}#}
{#{% endblock footer %}#}



{# <div class="uk-accordion" data-uk-accordion="{collapse: false, showfirst: false}">#}
{##}
{#                {% for info in category.help_set.all %}#}
{#                    {% with info|in_lang:LANGUAGE_CODE as info_trans %}#}
{#                        <h3 class="uk-accordion-title">#}
{#                        {% if info_trans.description|length > 1 %}#}
{#                            <strong>+</strong>#}
{#                        {% else %}#}
{#                            <strong>-</strong>#}
{#                        {% endif %}#}
{#                            {{ info_trans.name }}#}
{#                        </h3>#}
{#                        <div class="uk-accordion-content">#}
{#                        {{ info_trans.description|safe }}#}
{#                        {{ info_trans.details|safe }}#}
{#                        </div>#}
{#                    {% endwith %}#}
{#                {% endfor %}#}
{#            </div>#}
