{% load i18n filer_admin_tags staticfiles thumbnail %}

{% spaceless %}
    <div class="dz-preview dz-file-preview hidden js-filer-dropzone-template">
        <span class="filerFile">
            <div class="dz-thumbnail"><img class="quiet" data-dz-thumbnail></div>
            <span data-dz-name class="dz-name"></span>
            <img class="filerClearer" src="{% static admin_icon_delete %}" width="10" height="10" alt="{% trans 'Clear' %}" title="{% trans 'Clear' %}"
                 data-dz-remove data-no-icon-file="{% static 'filer/icons/nofile_48x48.png' %}">
            <div class="dz-progress js-filer-dropzone-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
        </span>
    </div>
    {#{{ object.icons }}#}
    <div class="js-filer-dropzone filer-dropzone{% if object %} js-object-attached{% endif %}" data-url="{% url 'admin:filer-ajax_upload' %}" data-max-file-size="20"  style="width: 600px;">
        <div class="z-index-fix"></div>
        <div class="dz-default dz-message js-filer-dropzone-message{% if object %} hidden{% endif %}">
            <span class="icon fa fa-arrow-down"></span><span>{% trans "or drop your file here" %}</span>
        </div>
        {#    {% thumbnail object 600x600 crop %}#}
        {#    {{ object }}#}

        <span class="filerFile js-file-selector"  >

            {% if object %}
                {% if object.icons.128 %}



{#                    <a href="{{ object.url }}" target="_blank" class="adminthumb">#}
                        <img class="thumbnail_img adminthumb" src="{{ object.icons.128 }}" alt="{{ object.label }}"
                        style="width: 64px; height: 64px; margin-top: -15px;">
{#                    </a>#}

                    <span class="description_text" title="{{ object.label }}" style="width: 300px; margin-top: -2px;">

                    <a href="{{ lookup_url }}&_popup=2" class="js-related-lookup related-lookup lookup" id="{{ id }}_lookup"
               title="{% trans 'Lookup' %}" >
                        <span class="fa fa-picture-o"></span>
                        {{ object.label }}
                    </a>
                </span>
                {% else %}
                    <img class="thumbnail_img" src="{% static 'filer/icons/missingfile_128x128.png' %}" alt="{% trans 'file missing' %}">
                    &nbsp;<span class="description_text" title="{% trans 'file missing' %}">{% trans 'file missing' %}</span>
                {% endif %}
            {% else %}
                <img class="thumbnail_img hidden quiet" alt="{% trans 'no file selected' %}">
                &nbsp;<span class="description_text"></span>
            {% endif %}

            <a href="{{ lookup_url }}" class="js-related-lookup related-lookup {% if object %}hidden{% endif %} lookup" id="{{ id }}_lookup"
               title="{% trans 'Lookup' %}"{% if LTE_DJANGO_1_7 %} onclick="return showRelatedObjectLookupPopup(this);"{% endif %}>
                <span class="fa fa-picture-o"></span>{% trans 'Choose File' %}
            </a>

            <img class="filerClearer {% if not object %}hidden{% endif %}" src="{% static admin_icon_delete %}"
                 width="10" height="10" alt="{% trans 'Clear' %}" title="{% trans 'Clear' %}"
                 data-no-icon-file="{% static 'filer/icons/nofile_48x48.png' %}">

            <br>

            {{ hidden_input }}
            <script type="text/javascript" id="{{id}}_javascript">
                django.jQuery(document).ready(function(){
                    var plus = django.jQuery('#add_{{ id }}');
                    if (plus.length){
                        plus.remove();
                    }
                    // Delete this javascript once loaded to avoid the "add new" link duplicates it
                    django.jQuery('#{{id}}_javascript').remove();

                });


                {#                var $ = django.jQuery;#}
                django.jQuery('.adminthumb').on('click', function () {

                    django.jQuery('body').append('<div class="popimage"><img class="xxlazy" data-src src="{% thumbnail object 600x600 %}" /><h2>Loka</h2></div>');
{#                    console.log('hovering');#}
                    django.jQuery('.popimage').show().on('click', function (e) {
{#                        console.log('clicked');#}
                        django.jQuery('.popimage').css('display', 'none');
                    });
                    {#                    django.jQuery('.lazy').lazy();#}
                });



            </script>
        </span>
    </div>


{% endspaceless %}

{% block content %}
    {#    {{ block.super }}#}
    {#        '<div class="popimage"><img class="lazy" data-src="{% thumbnail object.artwork_image 600x600 crop %}" /></div>'#}
{% endblock content %}
